.form-input-text{ width:300px;}
.form-input-select{ width:300px;}
.form-input-date{ width:140px;}
.form-button-left{ text-align:left;}
.form-button-right{ text-align:right;}
.form-edit-text{ width:180px;}
.form-edit-date{ width:160px;}
.table-formal{ width:100%; padding:0px;}
.table-page-top{ margin-top:20px;}
.table-page{ float:right;}
.a-back{color:#333}
.a-back:hover{text-decoration: none}
.main-container-header-line{border-bottom:2px solid #eee}