@charset "utf-8";
/* 公共 */

*{ margin:0; padding:0; font-size:12px; font-family:"微软雅黑";color:#282828;}
li{ list-style:none;}
img{ border:0; border:none;}
a{ text-decoration:none; font-size:14px;}
body,html{ width:100%; height:100%;}

/* top */
body{ background:#2546a5 url(../images/login-bg.jpg) no-repeat center center;}
.logo_box{width:1100px;margin:0 auto;overflow:hidden; padding-top:40px;}
.logo_box_img{width:585px;height:78px;background-image:url(../images/LOGO3.png);}
.logo{ float:left;}
.logo img{ width:80%;}

/* center */
.cen_outside{ width:100%; overflow:hidden;}
.cenLogin{width:1250px;height:450px;position:absolute;top:50%;left:50%;margin:-225px 0 0 -625px;  background:url(../images/loginCenter-bg.png) no-repeat left center;}
.Login_Cen{ width:1120px; margin:0 auto; overflow:hidden;}
.Login{ width:420px; height:450px; float:right; background:url(../images/loginBox-bg.png) no-repeat 0 0; overflow:hidden;}
.Login_n{ width:360px; height:390px; margin:29px 0 0 32px;}
.Login_nTop{height:64px; line-height:72px; font-size:20px; border-bottom: 1px solid #d6d6d6; padding-left:30px; }
.Login_n ul{width:298px; margin:30px auto 0;}
.Login_n ul li input{ width:250px; height:39px; line-height:39px; font-size:14px; padding-left:46px; border-radius:4px; margin-bottom:15px; border:1px solid #d6d6d6;}
.Login_n ul .I1 input{ background:url(../images/icon-user.png) no-repeat 12px center;}
.Login_n ul .I2 input{ background:url(../images/icon-password.png) no-repeat 12px center;}
.Login_n ul .I3 input{ background:url(../images/icon-verficode.png) no-repeat 12px center;}
.I3  { position:relative;}
.verficode{ display:block; width:74px; height:25px; position:absolute; top:8px; right:10px;}
.Login_n ul input:focus{box-shadow:0px 0px 8px #06F; border: 1px solid #06F;}
.Login_n  p{width:298px; margin:0 auto;}
.LoginBtn{ margin-top:30px;} 
.LoginBtn a{ display:block; width:296px; height:39px; line-height:39px; margin:0 auto; background:url(../images/loginButton.jpg) repeat-x;border-radius:4px; color:#FFF; font-size:16px; font-family:"微软雅黑"; text-align:center; border:1px solid #265f94;}
.LoginBtn a:hover{ display:block; width:296px; height:39px; line-height:39px; margin:0 auto; background:url(../images/loginButton-hover.jpg) repeat-x;border-radius:4px; color:#FFF; font-size:16px; font-family:"微软雅黑"; text-align:center; border:1px solid #ab7a3b;}
 
/* footer */
.footer{ width:100%; text-align:center; font-size:12px; text-align:center; color:#95a0cc; position:fixed; bottom:0px; padding-bottom:40px;}

/* 输入框 */
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #4F4F4F;opacity:1; 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #4F4F4F;opacity:1;
}
input:-ms-input-placeholder{
    color: #4F4F4F;opacity:1;
}
input::-webkit-input-placeholder{
    color: #4F4F4F;opacity:1;
}

