@charset "utf-8";
/****************
 * @description : css reset
 * @author   : xiaolin 
 * @date     : 2013-09-25
 ****************/
/*css reset*/
html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/ text-shadow:none !important;overflow:hidden;height:100%;}
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0}
body{background:#FFF; overflow-x:hidden;height:100%;}
form{display:inline}
ul,ol{list-style:none}
a{text-decoration:none;color:#1a1a1a}
a:hover, a:active, a:focus{text-decoration: none;}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{font-size:100%; vertical-align:middle;outline:none;}
textarea{resize:none}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner { padding:0; border:0}
table { border-collapse:collapse; border-spacing:0}
.break { word-break:break-all; word-wrap:break-word}
a {outline:none;}
