<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.userservice.dao.AccountDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="userid != null and userid != '' ">
		 and t.userid = #{userid}
		</if>
		<if test="username != null and username != '' ">
		 and t.username = #{username}
		</if>
		<if test="password != null and password != '' ">
		 and t.password = #{password}
		</if>
		<if test="salt != null and salt != '' ">
		 and t.salt = #{salt}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
		 and t.delete_flag = #{deleteFlag}
		</if>
		<if test="createId != null and createId != '' ">
		 and t.create_id = #{createId}
		</if>
		<if test="createName != null and createName != '' ">
		 and t.create_name = #{createName}
		</if>
		<if test="createTime != null and createTime != '' ">
		 and t.create_time = #{createTime}
		</if>
		<if test="alterId != null and alterId != '' ">
		 and t.alter_id = #{alterId}
		</if>
		<if test="alterName != null and alterName != '' ">
		 and t.alter_name = #{alterName}
		</if>
		<if test="alterTime != null and alterTime != '' ">
		 and t.alter_time = #{alterTime}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="realname != null and realname != '' ">
		 and t.realname = #{realname}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.userid userid,
		t.username username,
		t.password password,
		t.salt salt,
		t.delete_flag deleteFlag,
		t.create_id createId,
		t.create_name createName,
		TO_CHAR(t.create_time,'yyyy-MM-dd HH24:mi:ss') createTime,
		t.alter_id alterId,
		t.alter_name alterName,
		TO_CHAR(t.alter_time,'yyyy-MM-dd HH24:mi:ss') alterTime,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		TO_CHAR(t.reserve3,'yyyy-MM-dd HH24:mi:ss') reserve3,
		t.realname realname
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="AccountVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM SYS_ACCOUNT t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="AccountVO"  resultType="AccountVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM SYS_ACCOUNT t  WHERE t.DELETE_FLAG = 'N' 
			<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="AccountVO"  resultType="AccountVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM SYS_ACCOUNT t 
		WHERE t.DELETE_FLAG = 'N' AND  t.userid = #{value} 
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="AccountVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="userid">
			SELECT SYS_GUID() AS userid FROM DUAL
		</selectKey>
		INSERT INTO SYS_ACCOUNT(userid,username,password,salt,delete_flag,create_id,create_name,create_time,alter_id,alter_name,alter_time,reserve1,reserve2,reserve3,realname)
		VALUES(#{userid,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{salt,jdbcType=VARCHAR},'N',#{createId,jdbcType=VARCHAR},#{createName,jdbcType=VARCHAR},SYSDATE,#{alterId,jdbcType=VARCHAR},#{alterName,jdbcType=VARCHAR},#{alterTime,jdbcType=TIMESTAMP},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=TIMESTAMP},#{realname,jdbcType=VARCHAR})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO SYS_ACCOUNT(userid,username,password,salt,delete_flag,create_id,create_name,create_time,alter_id,alter_name,alter_time,reserve1,reserve2,reserve3,realname)
		SELECT SYS_GUID() userid, A.* 
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.userid,jdbcType=VARCHAR} userid,#{item.username,jdbcType=VARCHAR} username,#{item.password,jdbcType=VARCHAR} password,#{item.salt,jdbcType=VARCHAR} salt,'N' delete_flag,#{item.createId,jdbcType=VARCHAR} create_id,#{item.createName,jdbcType=VARCHAR} create_name,SYSDATE create_time,#{item.alterId,jdbcType=VARCHAR} alter_id,#{item.alterName,jdbcType=VARCHAR} alter_name,#{item.alterTime,jdbcType=TIMESTAMP} alter_time,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=TIMESTAMP} reserve3,#{item.realname,jdbcType=VARCHAR} realname
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  SYS_ACCOUNT t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.userid = #{value} 
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="AccountVO"> 
		UPDATE   SYS_ACCOUNT  
		<set>
			<if test="userid != null">userid=#{userid},</if>
			<if test="username != null">username=#{username},</if>
			<if test="password != null">password=#{password},</if>
			<if test="salt != null">salt=#{salt},</if>
			<if test="deleteFlag != null">delete_flag='N',</if>
			<if test="createId != null">create_id=#{createId},</if>
			<if test="createName != null">create_name=#{createName},</if>
			<if test="createTime != null">create_time=#{createTime},</if>
			<if test="alterId != null">alter_id=#{alterId},</if>
			<if test="alterName != null">alter_name=#{alterName},</if>
			alter_time=TO_DATE(TO_CHAR(SYSDATE,'yyyy-MM-dd HH24:mi:ss'),'yyyy-MM-dd HH24:mi:ss'),
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="realname != null">realname=#{realname}</if>
		</set>
		WHERE  userid = #{userid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO SYS_ACCOUNT(userid,username,password,salt,delete_flag,create_id,create_name,create_time,alter_id,alter_name,alter_time,reserve1,reserve2,reserve3,realname)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.userid,jdbcType=VARCHAR} userid,#{item.username,jdbcType=VARCHAR} username,#{item.password,jdbcType=VARCHAR} password,#{item.salt,jdbcType=VARCHAR} salt,'N' delete_flag,#{item.createId,jdbcType=VARCHAR} create_id,#{item.createName,jdbcType=VARCHAR} create_name,SYSDATE create_time,#{item.alterId,jdbcType=VARCHAR} alter_id,#{item.alterName,jdbcType=VARCHAR} alter_name,SYSDATE alter_time,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=TIMESTAMP} reserve3,#{item.realname,jdbcType=VARCHAR} realname
		</foreach>
		ON DUPLICATE KEY UPDATE   
			userid = VALUES(userid),
			username = VALUES(username),
			password = VALUES(password),
			salt = VALUES(salt),
			delete_flag = VALUES(delete_flag),
			create_id = VALUES(create_id),
			create_name = VALUES(create_name),
			create_time = VALUES(create_time),
			alter_id = VALUES(alter_id),
			alter_name = VALUES(alter_name),
			alter_time = VALUES(alter_time),
			reserve1 = VALUES(reserve1),
			reserve2 = VALUES(reserve2),
			reserve3 = VALUES(reserve3),
			realname = VALUES(realname)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="AccountVO"  resultType="AccountVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM SYS_ACCOUNT t 
		WHERE t.DELETE_FLAG = 'N' 
		<include refid="SQL_CONDITION"/>
	</select>

	<!--12.新增账户时批量插入账户角色（向中间表中）-->
	<insert  id="doBatchInsertAccountRoles"  parameterType="java.util.List">
		INSERT INTO SYS_ACCOUNT_ROLE(pkid,userid,roleid,create_id,create_name,create_time,delete_flag)
		SELECT SYS_GUID() pkid, A.*
		FROM (
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
			SELECT
			#{item.userid,jdbcType=VARCHAR} userid,#{item.roleid,jdbcType=VARCHAR} roleid,#{item.createId,jdbcType=VARCHAR} create_id,#{item.createName,jdbcType=VARCHAR} create_name,SYSDATE create_time,'N' delete_flag
			FROM DUAL
		</foreach>
		) A
	</insert>

	<!--13.-->
	<insert id="doInsertAccoutRoleInitial" parameterType="AccountVO">
		INSERT INTO SYS_ACCOUNT_ROLE(pkid,userid,roleid,create_id,create_name,create_time,delete_flag)
		VALUES(SYS_GUID(),#{userid,jdbcType=VARCHAR},#{roleid,jdbcType=VARCHAR},#{createId,jdbcType=VARCHAR},#{createName,jdbcType=VARCHAR},SYSDATE,'N')
	</insert>

	<!--14.修改用户先删除用户时批量插入用户角色（中间表）-->
	<delete id="doDeleteAccountRoles" parameterType="String">
		DELETE FROM SYS_ACCOUNT_ROLE WHERE USERID = #{value}
		<!--UPDATE SYS_ACCOUNT_ROLE t SET t.DELETE_FLAG = 'Y' WHERE USERID = #{value}-->
	</delete>

	<select id="doFindDwidByUnscid" parameterType="String" resultType="String">
		SELECT t.DWID FROM YAGL_JXCS_DLYZ t WHERE t.DELETE_FLAG = 'N' AND t.UNSCID = #{value}
	</select>

</mapper>
