<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="common_header">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="数字化预案管理平台"></title>
        <link th:href="@{/static/css/reset.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/zxx.lib.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/element.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/app.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/formal.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/control.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <!-- header -->
        <div class="header-box navbar" th:fragment="header_box">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" id="oscar-nav-btn" type="button" data-toggle="collapse" data-target="#bs-navbar"
                            aria-controls="bs-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="../" class="navbar-brand">
                        <div class="logo2">
                        </div>
                    </a>
                </div>
                <!-- /navbar-header -->
                <nav class="navbar-collapse collapse" id="bs-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="fix" href="javascript:;">
                                <span class="glyphicon glyphicon-volume-up l mt3"></span>
                                <span class="f12 l mt1 ml5">(0)</span>
                            </a>
                        </li>
                        <li>
                            <a class="glyphicon glyphicon-cog" href="javascript:;"></a>
                        </li>
                        <li>
                            <a class="f12" href="javascript:;">
                                &nbsp;&nbsp;
                                <span id="realname"></span>
                                &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-triangle-top oscar-arrow frame-duration"></span>
                                <div class="dada abs ovh">
                                    <div class="dada-item">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="ml5">个人中心</span>
                                    </div>
                                    <div class="dada-item" id="logout">
                                        <form id="login-out-form" action="#" th:action="@{/logout}" method="post" onsubmit="return false;"></form>
                                        <span class="glyphicon glyphicon-off"></span>
                                        <span class="ml5">退出</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="dada2 abs ovh f12">
                    <div class="dada-item">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="ml5">个人中心</span>
                    </div>
                    <div class="dada-item">
                        <span class="glyphicon glyphicon-off"></span>
                        <span class="ml5">退出</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- menu_box -->
        <div class="left-sidebar" th:fragment="menu_box (onevar)">
            <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
            <!--<input type="hidden" id="defaultActive" th:value="${onevar}"/>-->
            <input type="hidden" id="defaultActive"/>
            <div id="menu-box">
                <big-tree default-active=""></big-tree>
            </div>
        </div>

        <!-- main_container_header -->
        <div class="row main-container-header" th:fragment="main_container_header (onevar, twovar)">
            <div class="col-md-12 rel">
                <div class="main-container-header-line fix">
                    <div class="row">
                        <div class="col-xs-6 col-md-6"> <h4 class="g4" th:text="${onevar}"></h4></div>
                        <div class="col-xs-6 col-md-6 tr f12">
                            <div class="bread-link-box">
                                当前位置：<span th:text="${twovar}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- main_container_header_detail -->
        <div class="row main-container-header" th:fragment="main_container_header_detail (onevar, twovar)">
            <div class="col-md-12 rel">
                <div class="main-container-header-line fix">
                    <div class="row">
                        <div class="col-xs-6 col-md-6"> <h4 class="g4"><a class="a-back" href="javascript:history.go(-1)"><span class="el-icon-arrow-left"></span><span th:text="${twovar}"></span></a></h4></div>
                        <div class="col-xs-6 col-md-6 tr f12">
                            <div class="bread-link-box">
                                当前位置：<a th:href="@{/codelist}" th:text="${onevar}"></a> &nbsp;&gt;&nbsp; <span th:text="${twovar}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <!-- javascript_box -->
        <div th:fragment="javascript_box">
            <script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
            <script th:src="@{/static/js/vue.js}"></script>
            <script th:src="@{/static/js/elementUI.js}"></script>
            <script th:src="@{/static/js/vue-resource.min.js}"></script>
            <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
            <script th:src="@{/static/js/axios.min.js}"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                Vue.http.options.root = [[${contextPath}]] === '/' ? '' : [[${contextPath}]];
                realname = [[${session.realname}]];
                $('#realname').html(realname);
                index = [[${index}]];
                $('#defaultActive').val(index);
                /*]]>*/
            </script>

            <!-- 动态菜单 -->
            <script th:src="@{/static/js/lib.js}"></script>
        </div>
    </body>
</html>