<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>数字化预案管理平台</title>
    <link th:href="@{/static/css/login.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div id="app">
      <!--logo-->
        <div class="logo_box">
            <div class="logo logo_box_img">
              <!--<img th:src="@{/images/LOGO3.png}"/>-->
            </div>
        </div>

      <!--center-->
        <div class="cen_outside">
            <div class="cenLogin">
                <div class="Login_Cen">
                    <div class="Login">
                        <div class="Login_n">
                          <div class="Login_nTop">用户登录</div>
                          <form id="login-form" autocomplete="off" name="login-form" action="" method="post">
                                <ul>
                                    <li class="I1">
                                        <input type="text" class="inputstyle" v-model="username" name="username" id="username" placeholder="用户名">
                                    </li>
                                    <li class="I2">
                                        <input type="password" class="inputstyle" v-model="password" name="password" id="password" placeholder="密码">
                                    </li>
                                    <li class="I3">
                                        <input type="text" class="inputstyle" v-model="validateCode" name="validateCode" id="validateCode" placeholder="验证码" @keyup.enter="login()">
                                        <a href="javascript:;" @click="reloadCode()">
                                          <img id="checkCode" class="verficode" th:src="@{/imageCode}" onerror="javascript:this.src='../images/img-error.png';">
                                        </a>
                                    </li>
                                </ul>
                                <p>
                                  <input type="checkbox" name="rememberMe" id="rememberMe"/>&nbsp;&nbsp;
                                  <a>记住我</a>
                                </p>
                                <div class="LoginBtn">
                                  <a @click="login()">登录</a>
                                </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--footer-->
    <!-- <div class="footer">
      建议您使用IE9+、FireFox、Google Chrome，分辨率1280*800及以上浏览本网站，获得更好用户体验
      <br /> 版权所有 © 2017 公安部消防局 公安部沈阳消防研究所 V1.0.1
      <br />
    </div> -->
  </div>
</body>

<script th:src="@{/static/js/vue.js}"></script>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var msg = [[${msg}]];
    /*]]>*/
</script>
<script>
    $('#username').focus();
    var vm = new Vue({
        el: "#app",
        data: {
          username: "",
          password: "",
          validateCode: "",
          messages:""
        },
        methods: {
            login: function () {
                var username = $('#username').val();
                var password = $('#password').val();
                var checkCode = $('#validateCode').val();
                if(username == null || username == ''){
                    alert("用户名不能为空！")
                }else if(password == null || password == ''){
                    alert("密码不能为空！")
                }else if(checkCode == null || checkCode == ''){
                    alert("验证码不能为空！")
                }else{
                    $('#login-form').submit();
                    var _self = this;
                    debugger;
                    this.messages = msg;
                    if(msg != null){
                        alert(msg);
                    }
                }
            },
            reset: function () {
                this.username = "";
                this.password = "";
            },
            reloadCode(){
                $('#checkCode').attr('src','/imageCode?' + ((new Date()).valueOf()));
            }
        }
    });
</script>

</html>