<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="lib :: common_header"></head>
	<body class="fw f14">
		<div th:replace="lib :: header_box"></div>
		<div th:replace="lib :: menu_box (23)"></div>
		<div id="app">
			<div class="main-box">
				<div class="main-container">

					<!--修改界面-->
					<div>
						<el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
							<el-row>
								<el-col :span="22">
									<el-form-item label="父资源">
										<el-select v-model="editForm.parentid1" placeholder="请选择" clearable @change="getSecondResource">
											<el-option v-for="parent in allFirstResource" :label="parent.resourceinfo" :value="parent.resourceid" :key="parent.resourceid"></el-option>
										</el-select>
										<el-select v-model="editForm.parentid2" placeholder="请选择" clearable>
											<el-option v-for="parent in allSecondResource" :label="parent.resourceinfo" :value="parent.resourceid" :key="parent.resourceid"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row>
								<el-col>
									<el-form-item label="权限列表" prop="permissions">
										<el-checkbox-group v-model="editFormSelect" @change="getCheckValue">
											<el-checkbox v-for="permission in allPermissionList" :label="permission.permissionid" :key="permission.permissionid">{{permission.permissioninfo}}</el-checkbox>
										</el-checkbox-group>
									</el-form-item>
								</el-col>
							</el-row>
						</el-form>
					</div>
				</div>
			</div>
		</div>
	</body>
<div th:replace="lib :: javascript_box"></div>
<script>
	new Vue({
        el: '#app',
        data: function() {
            return {
                //新建数据
                allFirstResource: [],
                allSecondResource: [],
                editForm: {
                    parentid1: '',
                    parentid2: '',
                    permissions: []
                },
                editFormSelect: [],
            }
        },
        created: function () {
            this.getAllPermissions();
            this.getFirstResource();
            this.editFormSelect = ['1'];
            this.editForm.parentid1 = '18';
        },
        methods:{
            getAllPermissions: function(){
                axios.get('/permission/getAll').then(function(res){
                    this.allPermissionList = res.data.result;
                }.bind(this),function (error) {
                    console.log(error);
                })
            },

            //获取第一父资源
            getFirstResource: function () {
                axios.get('/resource/getParentResource').then(function(res){
                    this.allFirstResource = res.data.result;
                }.bind(this),function (error) {
                    console.log(error);
                })
            },
            //获取第二父资源
            getSecondResource(val) {
                var parentid = val;
                this.editForm.parentid1 = val;
                alert(1111);
                alert(val);
                axios.get('/resource/getParentResource/' + parentid).then(function(res){
                    this.allSecondResource = res.data.result;
                }.bind(this),function (error) {
                    console.log(error);
                })
            }
        }
    })
</script>
</html>