<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>预案数据传输情况</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/element.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/sync.css">
</head>

<body class="fw map-bg">
    <div id="app">
        <div class="application-box tc abs">
            <div class="sync-left map-bg">
                <div class="sjjd sync-box map-bg">
                    <div class="sync-contain">
                        <img class="sync-icon" src="../../static/images/sync-fwjd.png">
                        <span class="sync-lebal">数据节点</span>
                    </div>
                    <span class="sync-txts-normal">{{sjjd}}</span>
                </div>
                <div class="fwjd sync-box map-bg">
                    <div class="sync-contain">
                        <img class="sync-icon" src="../../static/images/sync-fwjd.png">
                        <span class="sync-lebal">服务节点</span>
                    </div>
                    <span class="sync-txts-normal">{{fwjd}}</span>
                </div>
                <div class="gzjd sync-box map-bg">
                    <div class="sync-contain">
                        <img class="sync-icon" src="../../static/images/sync-gzjd.png">
                        <span class="sync-lebal">故障节点</span>
                    </div>
                    <span class="sync-txts-attention">{{gzjd}}</span>
                </div>
            </div>
            <div class="sync-main tc map-bg">
                <div id="province1" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">北京</span>
                </div>
                <div id="province2" class="sync-province-box">
                    <div class="sync-province-icon2 blink"></div>
                    <span class="sync-province-lebal">天津</span>
                </div>
                <div id="province3" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">重庆</span>
                </div>
                <div id="province4" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">上海</span>
                </div>
                <div id="province5" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">辽宁</span>
                </div>
                <div id="province6" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">新疆</span>
                </div>
                <div id="province7" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">内蒙古</span>
                </div>
                <div id="province8" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">西藏</span>
                </div>
                <div id="province9" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">广西</span>
                </div>
                <div id="province10" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">宁夏</span>
                </div>
                <div id="province11" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">黑龙江</span>
                </div>
                <div id="province12" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">吉林</span>
                </div>
                <div id="province13" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">河北</span>
                </div>
                <div id="province14" class="sync-province-box">
                    <div class="sync-province-icon2 blink"></div>
                    <span class="sync-province-lebal">河南</span>
                </div>
                <div id="province15" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">山东</span>
                </div>
                <div id="province16" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">山西</span>
                </div>
                <div id="province17" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">陕西</span>
                </div>
                <div id="province18" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">湖南</span>
                </div>
                <div id="province19" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">湖北</span>
                </div>
                <div id="province20" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">四川</span>
                </div>
                <div id="province21" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">青海</span>
                </div>
                <div id="province22" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">甘肃</span>
                </div>
                <div id="province23" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">江苏</span>
                </div>
                <div id="province24" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">浙江</span>
                </div>
                <div id="province25" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">安徽</span>
                </div>
                <div id="province26" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">江西</span>
                </div>
                <div id="province27" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">福建</span>
                </div>
                <div id="province28" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">广东</span>
                </div>
                <div id="province29" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">海南</span>
                </div>
                <div id="province30" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">云南</span>
                </div>
                <div id="province31" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">贵州</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/js/vue.min.js"></script>
<script src="../../static/js/element.js" charset="utf-8"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            sjjd: '31',
            fwjd: '29',
            gzjd: '02',
            flag: {
                北京: true,
                天津: true,
                重庆: true,
                上海: true,
                辽宁: true,
                新疆: true,
                内蒙古: true,
                西藏: true,
                广西: true,
                宁夏: true,
                黑龙江: true,
                吉林: true,
                河北: true,
                河南: true,
                山东: true,
                山西: true,
                陕西: true,
                湖南: true,
                湖北: true,
                四川: true,
                青海: true,
                甘肃: true,
                江苏: true,
                浙江: true,
                安徽: true,
                江西: true,
                福建: true,
                广东: true,
                海南: true,
                云南: true,
                贵州: true
            }
        }
    })
</script>

</html>