<!DOCTYPE html>
<html>

<head>
	<meta chartset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>角色管理</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/zxx.lib.css">
	<link rel="stylesheet" type="text/css" href="../css/element.css">
	<link rel="stylesheet" type="text/css" href="../css/app.css">
	<link rel="stylesheet" type="text/css" href="../css/formal.css">
</head>

<body class="fw f14">
	<div id="app">
		<el-container>
			<div class="header-box navbar">
				<div class="container">
					<div class="navbar-header">
						<button class="navbar-toggle collapsed" id="oscar-nav-btn" type="button" data-toggle="collapse" data-target="#bs-navbar"
						aria-controls="bs-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../" class="navbar-brand">
							<div class="logo2">
								<!-- 运营拍档 -->
							</div>
						</a>
					</div>
					<!-- /navbar-header -->
					<nav class="navbar-collapse collapse" id="bs-nav">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="fix" style="width:44px;" href="/assets/pages/test02.html">
									<img src="../images/shishizhanshi.png">
								</a>
							</li>
							<li>
								<a class="glyphicon glyphicon-cog" href="javascript:;"></a>
							</li>
							<li>
								<a class="f12" href="javascript:;">
									<span>oscar@outlook.com</span>
									<span class="glyphicon glyphicon-triangle-top oscar-arrow frame-duration"></span>
									<div class="dada abs ovh">
										<div class="dada-item">
											<span class="glyphicon glyphicon-user"></span>
											<span class="ml5">个人中心</span>
										</div>
										<div class="dada-item">
											<span class="glyphicon glyphicon-off"></span>
											<span class="ml5">退出</span>
										</div>
									</div>
									<!-- /dada -->
								</a>
							</li>
						</ul>
					</nav>
					<div class="dada2 abs ovh f12">
						<div class="dada-item">
							<span class="glyphicon glyphicon-user"></span>
							<span class="ml5">个人中心</span>
						</div>
						<div class="dada-item">
							<span class="glyphicon glyphicon-off"></span>
							<span class="ml5">退出</span>
						</div>
					</div>
					<!-- /dada -->
				</div>
				<!-- /container -->
			</div>
			<!-- /header-box -->

			<div class="left-sidebar">
				<a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
				<div id="menu-box">
					<big-tree default-active="2-1"></big-tree>
				</div>
			</div>
			<!-- /left-sidebar -->

			<div class="main-box">
				<div class="main-container">
					<div id="tableView">
						<el-row> 
							<el-form  label-width="70px" :inline="true" class="el-form demo-form-inline">
								
								<el-row>
										<el-col :span="10">
											<el-form-item label="角色描述">  
												<el-select size="small" v-model="searchForm.roleinfo" placeholder="角色描述" style="width: 300px">  
													<el-option label="普通用户" value="普通用户"></el-option> 
													<el-option label="管理员" value="管理员"></el-option>  
													<el-option label="辽宁省" value="辽宁省"></el-option> 
													<el-option label="山东省" value="山东省"></el-option> 
                                                </el-select>  
											</el-form-item>
										</el-col>
										<el-col :span="12">
											<el-form-item label="创建时间">
                                                <el-date-picker type="date" @change="begindateChange" format="yyyy-MM-dd"
												value-format="yyyy-MM-dd" size="small" v-model="searchForm.begintime" placeholder="开始时间" style="width: 196px"></el-date-picker>
                                                ~
                                                <el-date-picker type="date" @change="enddateChange" format="yyyy-MM-dd"
												value-format="yyyy-MM-dd" size="small" v-model="searchForm.endtime" placeholder="结束时间" style="width: 196px"></el-date-picker>
											</el-form-item>
										</el-col>
								</el-row> 
								<div>
									<el-form>
										<el-col :span="12" style="text-align: left">
											<el-form-item align="left">  
												<el-button type="primary" icon="edit" size="small" @click="editClick">修改</el-button>  
												<el-button type="danger" icon="delete" size="small" @click="removeSelection">删除</el-button>  
											</el-form-item>
										</el-col>
										<el-col :span="12"></el-col>
										<el-col :span="12" style="text-align: right">
											<el-form-item>  
												<el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>  
												<el-button type="success" icon="plus" size="small" @click="addClick">新增</el-button>  
											</el-form-item>
										</el-col>
									</el-form>
								</div>
							</el-form>
						</el-row> 


						
						<div class="table_container">
							<el-table
									border
									id="table"
									:data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
									v-loading.body="loading"  
									@selection-change="selectionChange"  
									style="width: 100%;"
									:height="tableheight"
									>
				
								<el-table-column  
								type="selection"  
								min-width="5%">  
								</el-table-column>
								<el-table-column 
									type="index" 
									label="序号"
									width="65"
									align="center">
								</el-table-column>
								<el-table-column  
									prop="rolename"  
									label="角色名称"  
									min-width="11%"
									align="center">  
								</el-table-column>  
								<el-table-column  
									prop="roleinfo"  
									label="角色描述"  
									min-width="12%"
									align="center">  
								</el-table-column>  
								<el-table-column  
									prop="create_name"  
									label="创建人" 
									min-width="12%"
									align="center">  
								</el-table-column> 
								<el-table-column  
									prop="create_time"  
									label="创建时间"  
									min-width="13%"
									align="center">  
								</el-table-column>  
								<el-table-column  
									prop="alter_name"  
									label="修改人"  
									min-width="14%"
									align="center">  
								</el-table-column>  
								<el-table-column  
									prop="alter_time"  
									label="修改时间"  
									min-width="13%"
									align="center">  
								</el-table-column>
								<el-table-column  
									prop="role"  
									label="资源列表"  
									min-width="13%"
									align="center">
									<template slot-scope="scope">  
											<el-button type="text" @click="openResourceList(scope.row.resource)">查看详情</el-button>
									</template>	  
								</el-table-column>
								<!-- <el-table-column  
									label="操作"
									width="120"
									>  
									<template slot-scope="scope">  
										<el-button :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.$index, scope.row)">编辑</el-button>  
										<el-button :plain="true" type="danger" size="small" icon="delete" @click="deleteClick(scope.$index, scope.row)">删除</el-button>
									</template>  
								</el-table-column>        -->
							</el-table>
						
								<!---->
								<!---->
						


						<!--列表底部工具条和分页符-->  
						<el-row type="flex" justify="end">   
								<el-col :span="18" >  
									<el-pagination  
											style="float: right"  
											@size-change="pageSizeChange"  
											@current-change="currentPageChange"  
											:current-page="currentPage"  
											:page-sizes="[10, 20, 30, 50]"  
											:page-size="pageSize"  
											layout="total, sizes, prev, pager, next, jumper"  
											:total=parseInt(total)>  
									</el-pagination>  
								</el-col>  
							</el-row> 
						</div>
							<!--详情界面-->  
							<el-dialog title="资源列表" :visible.sync="resourceVisible" @close="closeresourceDialog()" :close-on-click-modal="false">
								<el-tree :data="resourceList" node-key="id" :default-expanded-keys="[1]" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
							</el-dialog> 
							<!--新建界面-->  
							<el-dialog title="新建用户" :visible.sync="addFormVisible" @close="closeDialog(addForm)" :close-on-click-modal="false">  
								<el-form :model="addForm" label-width="80px" :rules="addFormRules" ref="addForm">
									<el-row>
										<el-col :span="8">            
											<el-form-item label="角色名称" prop="rolename">  
											<el-input v-model="addForm.rolename" auto-complete="off" placeholder="角色名称" style="width:180px"></el-input>  
											</el-form-item>
										</el-col>
										<el-col :span="4">&nbsp;</el-col>
										<el-col :span="8">            
											<el-form-item label="角色描述" prop="roleinfo">  
											<el-input v-model="addForm.roleinfo" auto-complete="off" placeholder="角色描述" style="width:180px"></el-input>  
											</el-form-item>
										</el-col>
									</el-row> 
									<el-row>
										<el-form-item label="资源列表"> 
											<el-tree
											:props="defaultProps"
											:data="allResourceList"
											node-key="id"
											ref="tree"
											highlight-current
											:default-expanded-keys="[1]"
											@node-click="handleNodeClick"
											show-checkbox>
											</el-tree>
										</el-form-item>
									</el-row>
								</el-form>  
								<div slot="footer" class="dialog-footer">  
									<el-button @click.native="closeDialog(addForm)">取消</el-button>  
									<el-button type="primary" @click.native="addSubmit(addForm)">提交</el-button>  
								</div>  
							</el-dialog> 

							<!--修改界面-->  
							<el-dialog title="修改" :visible.sync="editFormVisible" :close-on-click-modal="false">  
							<el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">
								<el-row>
                                    <el-col :span="8">            
                                        <el-form-item label="角色名称" prop="rolename">  
                                        <el-input v-model="editForm.rolename" auto-complete="off" placeholder="角色名称" style="width:180px"></el-input>  
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="4">&nbsp;</el-col>
                                    <el-col :span="8">            
                                        <el-form-item label="角色描述" prop="roleinfo">  
                                        <el-input v-model="editForm.roleinfo" auto-complete="off" placeholder="角色描述" style="width:180px"></el-input>  
                                        </el-form-item>
                                    </el-col>
                                </el-row> 
								<el-row>
										<el-form-item label="资源列表"> 
											<el-tree
											:props="checkprops"
											:load="loadNode"
											lazy
											show-checkbox
											@check-change="handleCheckChange">
											</el-tree>
										</el-form-item>
								</el-row>
							</el-form>  
					<div slot="footer" class="dialog-footer">  
						<el-button @click.native="editFormVisible = false">取消</el-button>  
						<el-button type="primary" @click.native="editSubmit(editForm)">提交</el-button>  
					</div>  
				</el-dialog> 
					</div>
				</div>
				<!-- main-container -->
			</div>
	</el-container>
</div>

	<!-- /main-box -->
</body>
<script src="../lib/jquery-3.2.1.min.js"></script>
	<script src="../lib/vue.min.js"></script>
	<script src="../lib/elementUI.js" charset="utf-8"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		$('#oscar-nav-btn').click(function () {
			$('.dada2').toggle();
		});

		

		var myData = [
			{
				'index': '1',
				'menuName': '首页',
				'url': 'http://www.google.com'
			},
			{
				'index': '2',
				'menuName': '水源管理',
				'url': 'http://www.google.com'
			},
			{
				'index': '3',
				'menuName': '消防力量管理'
			},
			{
				'index': '4',
				'menuName': '重点单位管理',
				'url': '/assets/pages/key-unit.html'
			},
			{
				'index': '5',
				'menuName': '系统管理',
				'children': [
					{ 'index': '2-1', 'menuName': '用户管理', 'url': '/assets/pages/user-list2.html' },
					{ 'index': '2-2', 'menuName': '角色管理', 'url': '/assets/pages/role-list.html' },
					{ 'index': '2-3', 'menuName': '权限管理', 'url': '/assets/pages/permission.html' }
				]
			}
		];
		
		// 定义树节点
		var treeMenuTemplate = [];
		treeMenuTemplate.push('<li class="el-submenu" :class="[open ? \'\': \'\', selected ? \'is-active\':\'\']">');
		treeMenuTemplate.push('<a class="db el-submenu__title" :id="model.index" @click="toggle" v-menu-animation="open" :style="{paddingLeft: paddingLeft + \'px\'}" :href="getUrl">');
		treeMenuTemplate.push('<i class="el-icon-message" v-if="level == 1"></i>');
		treeMenuTemplate.push('<template v-if="hasChildren()">');
		treeMenuTemplate.push('<i class="el-submenu__icon-arrow" :class="[open ? \'el-icon-arrow-up\': \'el-icon-arrow-down\']"></i>');
		treeMenuTemplate.push('</template>');
		treeMenuTemplate.push('{{ model.menuName }}');
		treeMenuTemplate.push('</a>');
		treeMenuTemplate.push('<ul class="el-menu" :class="[open ? \'\' : \'dn\']" v-if="hasChildren()">');
		treeMenuTemplate.push('<tree-menu v-for="item in model.children" :model="item" :level="level + 1" :theId="theId"></tree-menu>');
		treeMenuTemplate.push('</ul>');
		treeMenuTemplate.push('</li>');

		var treeMenu = Vue.component('tree-menu', {
			template: treeMenuTemplate.join(''),

			created: function () {
				var index = this.model.index;
				var hasIndex = this.theId.search(index);
				var lala = index.replace(this.theId, '');
				if (hasIndex == 0) {
					this.open = true;
				}
				if (hasIndex == 0 && lala.length == 0) {
					this.selected = true;
				}
			},

			props: ['model', 'level', 'theId'],

			computed: {
				getUrl: function () {
					if (this.hasChildren()) {
						return "javascript:;";
					}
					return this.model.url;
				}
			},

			data: function () {
				return {
					open: false,
					paddingLeft: this.level * 20,
					selected: false,
					
				};
			},

			methods: {
				hasChildren: function () {
					return this.model.children && this.model.children.length;
				},

				toggle: function () {
					if (this.hasChildren()) {
						this.open = !this.open;
					}
				},
			}

		});

		Vue.directive('menu-animation', function (el, binding) {
			var open = (binding.value);
			var ulElement = $(el).parent().children('ul');
			if (open) {
				ulElement.slideDown(200);
			} else {
				ulElement.slideUp(200);
			}
		});

		// 定义外围树
		var bigTreeTemplate = [];
		bigTreeTemplate.push('<div class="tree-menu">');
		bigTreeTemplate.push('<ul v-for="menuItem in theModel" class="el-menu">');
		bigTreeTemplate.push('<tree-menu :model="menuItem" :level="theLevel" :theId="defaultActive"></tree-menu>');
		bigTreeTemplate.push('</ul>');
		bigTreeTemplate.push('</div>');

		Vue.component('big-tree', {
			template: bigTreeTemplate.join(''),

			props: ['defaultActive'],

			created: function () { },

			data: function () {
				return {
					theModel: myData,
					theLevel: 1
				};
			},

			components: {
				'tree-menu': treeMenu
			}
		});
		new Vue({
			el: '#app',
			data: function() {
			  return { visible: false,
			  //搜索表单
			  searchForm: {
				id: "",
				username:"",
				realname: "",
                rolename:"",
                roleinfo:"",
                begintime:"",
                endtime:"",
				// deptname:'',
				// birth:"",
				// sex:"",
				// state: "",
				// position:"",
				// worklife:"",
				// position:"",
				// jobtype:"",
				// DRUS:""
			  },
			  //表数据
			  tableData: [
				{
					roleid:"1",
					rolename:"normal",
					roleinfo: "普通用户",
                    create_name:"冯玉冰",
					create_time: "2008-05-03",
                    alter_name:"马昭",
					alter_time: "2015-08-29",
					//资源列表
					resource:[
					{
						id:1,
						label1: '系统管理',
						children1: [{
							id:3,
							label1: '用户管理',
							children1: [{
								id:7,
								label1: '查询'
							}]
						},{
							id:4,
							label1: '角色管理',
							children1: [{
								id:8,
								label1: '查询'
							}]
						},{
							id:5,
							label1: '权限管理',
							children1: [{
								id:9,
								label1: '查询'
							}]
						},]
					},
					{
						id:2,
						label1: '重点单位',
						children1: [{
							id:6,
							label1: '查询',
						}]
                    }
					],
				},
			   	{
					roleid:"2",
					rolename:"shandong",
					roleinfo: "山东省",
                    create_name:"孙宝书",
					create_time: "2008-05-03",
                    alter_name:"牛大力",
					alter_time: "2017-02-11",
					resource:[
					{
						id:1,
						label1: '系统管理',
						children1: [{
							id:3,
							label1: '用户管理',
							children1: [{
								id:7,
								label1: '查询'
							},
							{
								id:8,
								label1: '新增'
							},
							{
								id:9,
								label1: '修改'
							},
							{
								id:10,
								label1: '删除'
							}]
						},{
							id:4,
							label1: '角色管理',
							children1: [{
								id:11,
								label1: '查询'
							}]
						},{
							id:5,
							label1: '权限管理',
							children1: [{
								id:12,
								label1: '查询'
							}]
						},]
					},
					{
						id:2,
						label1: '重点单位',
						children1: [{
							id:6,
							label1: '查询',
						}]
                    }
					]
				},
				{
					roleid:"3",
					rolename:"liaoning",
					roleinfo: "辽宁省",
                    create_name:"张艾希",
					create_time: "2012-11-24",
                    alter_name:"孙尚",
					alter_time: "2013-12-07",
					resource:[
					{
						id:1,
						label1: '系统管理',
						children1: [{
							id:3,
							label1: '用户管理',
							children1: [{
								id:7,
								label1: '查询'
							},
							{
								id:8,
								label1: '新增'
							},
							{
								id:9,
								label1: '修改'
							},
							{
								id:10,
								label1: '删除'
							}]
						},{
							id:4,
							label1: '角色管理',
							children1: [{
								id:11,
								label1: '查询'
							},
							{
								id:12,
								label1: '新增'
							},
							{
								id:13,
								label1: '修改'
							},
							{
								id:14,
								label1: '删除'
							}]
						},{
							id:5,
							label1: '权限管理',
							children1: [{
								id:15,
								label1: '查询'
							}]
						},]
					},
					{
						id:"2",
						label1: '重点单位',
						children1: [{
							id:"6",
							label1: '查询',
						}]
                    }
					]
				},
				{
					roleid:"4",
                    rolename:"admin",
					roleinfo: "管理员",
                    create_name:"刘海柱",
					create_time: "2013-07-16",
                    alter_name:"张文斌",
					alter_time: "2016-01-01",
					resource:[
					{
						id: 1,
						label1: '系统管理',
						children1: [{
							id: 3,
							label1: '用户管理',
							children1: [{
								id: 7,
								label1: '查询'
							},
							{
								id: 8,
								label1: '新增'
							},
							{
								id: 9,
								label1: '修改'
							},
							{
								id: 10,
								label1: '删除'
							}]
						},{
							id: 4,
							label1: '角色管理',
							children1: [{
								id: 11,
								label1: '查询'
							},
							{
								id: 12,
								label1: '新增'
							},
							{
								id: 13,
								label1: '修改'
							},
							{
								id: 14,
								label1: '删除'
							}]
						},{
							id: 5,
							label1: '权限管理',
							children1: [{
								id: 15,
								label1: '查询'
							},
							{
								id: 16,
								label1: '新增'
							},
							{
								id: 17,
								label1: '修改'
							},
							{
								id: 18,
								label1: '删除'
							}]
						},]
					},
					{
						id: 2,
						label1: '重点单位',
						children1: [{
							id: 6,
							label1: '查询',
						}]
                    }
					]
				},
			 ],
			 //后台返回全部资源列表
			 allResourceList:[
			 {
				 id: 1,
				 label1: '系统管理',
				 children1: [{
					 id: 3,
					 label1: '用户管理',
					 children1: [{
						 id: 7,
						 label1: '查询'
					 },
					 {
						 id: 8,
						 label1: '新增'
					 },
					 {
						 id: 9,
						 label1: '修改'
					 },
					 {
						 id: 10,
						 label1: '删除'
					 }]
				 },{
					 id: 4,
					 label1: '角色管理',
					 children1: [{
						 id: 11,
						 label1: '查询'
					 },
					 {
						 id: 12,
						 label1: '新增'
					 },
					 {
						 id: 13,
						 label1: '修改'
					 },
					 {
						 id: 14,
						 label1: '删除'
					 }]
				 },{
					 id: 5,
					 label1: '权限管理',
					 children1: [{
						 id: 15,
						 label1: '查询'
					 },
					 {
						 id: 16,
						 label1: '新增'
					 },
					 {
						 id: 17,
						 label1: '修改'
					 },
					 {
						 id: 18,
						 label1: '删除'
					 }]
				 },]
			 },
			 {
				 id: 2,
				 label1: '重点单位',
				 children1: [{
					 id: 6,
					 label1: '查询',
				 }]
			 }
			 ],

			 //删除成功后台返回数据
			 delStatus:"success",
			 countryList:['法国','英国','德国'],
			 cityList:[['巴黎','普罗旺斯',"马赛"],['伦敦','爱丁堡',"北爱尔兰"],['柏林','慕尼黑',"汉堡"]],			   
			 rowdata:'',
			   //表高度变量
			   tableheight :440,
			   //显示加载中样
			   loading: false,
			   labelPosition: 'right',
			    //多选值
				multipleSelection: [],
				//当前页
				currentPage: 1,
				//分页大小
				pageSize: 10,
				//总记录数
				total:10, 
				//行数据保存
				rowdata:{

				},
				//序号
				indexData:0,
				//资源列表是否显示
				resourceVisible:false,
				//删除的弹出框
				deleteVisible: false,
				//新建页面是否显示
				addFormVisible:false,
				addLoading:false,
				addFormRules:{
					rolename: [{ required: true, message: "请输入角色名称", trigger: "blur" }]
				},
				//新建数据
				addForm:{
					roleid:"",
					rolename:"",
					roleinfo: "",
					create_name:"",
					create_time:"",
					alter_name:"",
					alter_time:"",
					resource:[]
				},
				//选中的序号
				selectIndex: -1, 
				//修改界面是否显示
				editFormVisible: false,
				editLoading: false,
				editFormRules: {
					rolename: [{ required: true, message: "请输入角色名称", trigger: "blur" }]
				},
				//修改界面数据
				editForm: {
					roleid:"",
					rolename:"",
					roleinfo: "",
					create_name:"",
					create_time:"",
					alter_name:"",
					alter_time:"",
					resource:[]
				},
				//资源树
                /*treedata:[[{
                    label: '用户信息',
                    children: [{
                        label: '用户基本信息',
                        children: [{
                        label: '单位信息'
                        },
						{
                        label: '个人信息'
                        }]
                    }
					]
                    }],
					[{roleid:"2"},{
						label: '用户信息',
						children: [{
							label: '用户基本信息',
							children: [{
							label: '单位信息'
							},
							{
							label: '个人信息'
							}]
						},
						{
							label: '预案信息',
							children: [{
							label: '二维预案'
							},
							{
							label: '三维预案'
							}]
						},
						]
						}], 

					[{roleid:"3"},{
						label1: '用户信息',
						children1: [{
							label1: '用户基本信息',
							children1: [{
								label1: '单位信息'
							},
							{
								label1: '个人信息'
							}]
						},
						{
							label1: '预案信息',
							children1: [{
								label1: '二维预案'
							},
							{
								label1: '三维预案'
							}]
						},
						]
						}, {
							label1: '消防物资信息',
						children1: [{
							label1: '灭火器',
							children1: [{
								label1: '二氧化碳灭火器'
							},
							{
								label1: '干粉灭火器'
							},
							{
								label1: '泡沫灭火器'
							}]
						}, {
							label1: '消防用土',
							children1: [{
								label1: '沙地采集'
							},
							{
								label1: '袋装沙土'
							},]
						}]
						}], 

						[{roleid:"4"},{
							label1: '用户信息',
						children1: [{
							label1: '用户基本信息',
							children1: [{
								label1: '单位信息'
							},
							{
								label1: '个人信息'
							}]
						},
						{
							label1: '预案信息',
							children1: [{
								label1: '二维预案'
							},
							{
								label1: '三维预案'
							}]
						},
						]
						}, {
							label1: '消防物资信息',
						children1: [{
							label1: '灭火器',
							children1: [{
								label1: '二氧化碳灭火器'
							},
							{
								label1: '干粉灭火器'
							},
							{
								label1: '泡沫灭火器'
							}]
						}, {
							label1: '消防用土',
							children1: [{
								label1: '沙地采集'
							},
							{
								label1: '袋装沙土'
							},]
						}]
						},
						{
							label1: '地理位置信息',
						children1: [{
							label1: '重点单位位置',
							children1: [{
								label1: '高层建筑'
							},
							{
								label1: '地下建筑'
							},
							{
								label1: '大型综合体'
							},
							{
								label1: '化工园区'
							}]
						}]
						}
						], 
					] ,

					//角色资源data
					roleresourceData: [
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
						{
							roleid:"1",
							resourceid:""
						},
					],*/

				    //树结构配置
					defaultProps: {
                    children: 'children1',
                    label: 'label1'
                    },

					//角色对应资源
					resourceList:[],

					//新修改页面的复选树
					checkprops: {
					label: 'name',
					children: 'zones'
					},
					count: 1,
					
			   }
			},
			methods:{
            handleNodeClick(data) {
                console.log(data);
            },
			//新增checkbox
			handleCheckChange(data, checked, indeterminate) {
				console.log(data, checked, indeterminate);
			},
			//checkbox分级
			loadNode(node, resolve) {
				if (node.level === 0) {
				return resolve([{ name: 'region1' }, { name: 'region2' }]);
				}
				if (node.level > 3) return resolve([]);

				var hasChild;
				if (node.data.name === 'region1') {
				hasChild = true;
				} else if (node.data.name === 'region2') {
				hasChild = false;
				} else {
				hasChild = Math.random() > 0.5;
				}

				setTimeout(() => {
				var data;
				if (hasChild) {
					data = [{
					name: 'zone' + this.count++
					}, {
					name: 'zone' + this.count++
					}];
				} else {
					data = [];
				}

				resolve(data);
				}, 500);
			},
			//资源详情
			openResourceList:function(val){
				/*axios.post('',val).then(function(res){
					this.resourceData=res.data;
					console.log(this.resourceData);
				}.bind(this),function(error){
					console.log(error)
				})*/

				//将本行的resource传给dialog资源列表
				this.resourceList=val;
				var _self = this;
				_self.resourceVisible=true;
			},
            //表格查询事件
			searchClick: function() {
			var _self = this;
			var tableObject ={};
			var searchData=[];
            var resultData=[];
            //空表不显示
			function isEmptyObject(obj) {
				for (var key in obj) {
					return false;
				}
				return true;
			}
            //起始时间的判断大小的函数
            function tab(begin,end){
                var oDate1 = new Date(begin);
                var oDate2 = new Date(end);
                if(oDate1.getTime() > oDate2.getTime()){
                    return true;
                }
                return false;
            }
            //数据还原
			  for(var i=0;i<_self.tableData.length;i++){
                var flow=_self.tableData[i];
                searchData.push(flow);
			  }
           
           
			if(_self.searchForm.begintime != ""&&_self.searchForm.endtime != ""){
                //起始时间的判断
                if(tab(_self.searchForm.begintime,_self.searchForm.endtime))
                {
                    _self.$message({
                        message: "开始时间不能早于结束时间",
                        type: "error"
                        });
                        return;
                }
                if(_self.searchForm.roleinfo != "")
                {
                    for(var i = 0;i<_self.tableData.length;i++){
                        if(_self.tableData[i].roleinfo == _self.searchForm.roleinfo&&(_self.tableData[i].create_time >= _self.searchForm.begintime&&_self.tableData[i].create_time <= _self.searchForm.endtime))
                        {	
                            var row=_self.tableData[i];
                            resultData.push(row);
                            
                        }
                        
                    }
                }
                else{
                    for(var i = 0;i<_self.tableData.length;i++){
                        if(_self.tableData[i].create_time >= _self.searchForm.begintime&&_self.tableData[i].create_time <= _self.searchForm.endtime)
                        {	
                            var row=_self.tableData[i];
                            resultData.push(row);   
                        }
                    }
                }
				_self.tableData.splice(0,_self.tableData.length);
				if(resultData.length>=1){
					_self.tableData=resultData;
				}
			}
            else if(_self.searchForm.begintime == ""&&_self.searchForm.endtime != ""){
                if(_self.searchForm.roleinfo != "")
                {
                    for(var i = 0;i<_self.tableData.length;i++){
                        if(_self.tableData[i].roleinfo == _self.searchForm.roleinfo&&_self.tableData[i].create_time <= _self.searchForm.endtime)
                        {	
                            var row=_self.tableData[i];
                            resultData.push(row);
                            
                        }
                        
                    }
                }
                else{
                    for(var i = 0;i<_self.tableData.length;i++){
                        if(_self.tableData[i].create_time <= _self.searchForm.endtime)
                        {	
                            var row=_self.tableData[i];
                            resultData.push(row);   
                        }
                    }
                }
				_self.tableData.splice(0,_self.tableData.length);
				if(resultData.length>=1){
					_self.tableData=resultData;
				}	
			}
			else if(_self.searchForm.begintime != ""&&_self.searchForm.endtime == ""){
				
				if(_self.searchForm.roleinfo != "")
                {
                    for(var i = 0;i<_self.tableData.length;i++){
                        if(_self.tableData[i].roleinfo == _self.searchForm.roleinfo&&_self.tableData[i].create_time >= _self.searchForm.begintime)
                        {	
                            var row=_self.tableData[i];
                            resultData.push(row);
                            
                        }
                        
                    }
                }
                else{
                    for(var i = 0;i<_self.tableData.length;i++){
                        if(_self.tableData[i].create_time >= _self.searchForm.begintime)
                        {	
                            var row=_self.tableData[i];
                            resultData.push(row);   
                        }
                    }
                }
				_self.tableData.splice(0,_self.tableData.length);
				if(resultData.length>=1){
					_self.tableData=resultData;
				}
			}
			else if(_self.searchForm.begintime == ""&&_self.searchForm.endtime == ""){
				if(_self.searchForm.roleinfo != "")
                {
                    for(var i = 0;i<_self.tableData.length;i++){
                        if(_self.tableData[i].roleinfo == _self.searchForm.roleinfo)
                        {	
                            var row=_self.tableData[i];
                            resultData.push(row);
                            
                        }
                        
                    }
                    _self.tableData.splice(0,_self.tableData.length);
                    if(resultData.length>=1){
                        _self.tableData=resultData;
                    }
                }
                else{
                    _self.tableData.splice(0,_self.tableData.length);
                    _self.tableData = searchData;
			    }
            }
			
			//_self.tableData.filter((item)=>{return item.realname == _self.searchForm.realname	});
			_self.total = _self.tableData.length;
			_self.loadingData(); //重新加载数据
			},
			//表格勾选事件
			selectionChange: function(val) {
			 for (var i = 0; i < val.length; i++) {
			 	var row = val[i];
			 }
			 this.multipleSelection = val;
			//this.sels = sels
			console.info(val);
			},
			//批量删除数据
			// delGroup() {  
			// 	var ids = this.sels.map(item => item.id).join()//获取所有选中行的id组成的字符串，以逗号分隔
				  
        	// },  
			//时间格式
			// dateChange(val) {  
			// 	console.log(val);  
			// 	this.addForm.create_time = val;
			// 	this.editForm.create_time = val;
			// },
            createdateChange(val) {  
				console.log(val);  
				this.addForm.create_time = val;
				this.editForm.create_time = val;
			},
            alterdateChange(val) {  
				console.log(val);  
				this.addForm.alter_time = val;
				this.editForm.alter_time = val;
			},
			begindateChange(val) {  
				console.log(val);  
                this.searchForm.begintime = val;
			},
			enddateChange(val) {  
				console.log(val);  
                this.searchForm.endtime = val;
			},
			//表格重新加载数据
			loadingData: function() {
			var _self = this;
			_self.loading = true;
			setTimeout(function() {
				console.info("加载数据成功");
				_self.loading = false;
			}, 300);
			},

			//新建事件
			addClick: function() {
			var _self = this;
			/*POST请求全部的资源列表项传给add页面数据*/ /*此时尚无roleid*/
			//this.addForm.resourcelist = res.data.allResourceList;
			//_self.addForm.resourcelist = _self.allResourceList;
			_self.addFormVisible = true;
			
			},
			//删除所选，批量删除
			removeSelection: function() {
			var _self = this;
			var multipleSelection = this.multipleSelection;
			if (multipleSelection.length < 1) {
				_self.$message({
				message: "请至少选中一条记录",
				type: "error"
				});
				return;
			}
			//var ids = "";
			var ids = [];
			var deletename =[];
			for (var i = 0; i < multipleSelection.length; i++) {
				var row = multipleSelection[i];
				//ids += row.realname + ",";
				//删除POST请求时传入ids里的roleid作为删除唯一标识
				ids.push(row.roleid);
				deletename.push(row.roleinfo);
			}
			this.$confirm("确认删除" + deletename + "吗?", "提示", {
				type: "warning"
			})
				.then(function() {
				/*axios.post('',ids).then(function(res){
					this.delStatus=res.data.status
					console.log(res.data)
				}.bind(this),function(error){
					console.log(error)
				})
				this.delStatus="success";
				if(this.delStatus=="success"){}*/

				/*POST请求之后再对前台加载*/
				for(var d =0;d< ids.length;d++){
					for(var k=0;k< _self.tableData.length;k++)
						{
							if(_self.tableData[k].roleid == ids[d]){
								_self.tableData.splice(k,1);
							}
						}
				
				
				_self.$message({
					message: deletename + "删除成功",
					type: "success"
				});
			}
		
				_self.total = _self.tableData.length;
				_self.loadingData(); //重新加载数据
				})
				.catch(function(e) {
				if (e != "cancel") console.log("出现错误：" + e);
				});
			},
			//分页大小修改事件
			pageSizeChange: function(val) {
			console.log("每页 " + val + " 条");
			this.pageSize = val;
			var _self = this;
			_self.loadingData(); //重新加载数据
			},
			//当前页修改事件
			currentPageChange: function(val) {
			this.currentPage = val;
			console.log("当前页: " + val);
			var _self = this;
			_self.loadingData(); //重新加载数据
			},
			//表格修改事件
			editClick: function() {
			var _self = this;
			var multipleSelection = this.multipleSelection;
			if (multipleSelection.length < 1) {
				_self.$message({
				message: "请至少选中一条记录",
				type: "error"
				});
				return;
			}
			else if(multipleSelection.length>1){
				_self.$message({
					message:"只能选一条记录进行修改",
					type:"error"
				});
				return;
			}
			//var ids = "";
			var ids = [];
			for (var i = 0; i < multipleSelection.length; i++) {
				var row = multipleSelection[i];
				//ids += row.realname + ",";
				//编辑时POST传入唯一标识roleid来取出特殊项
				ids.push(row.roleid);
			}
			/*POST请求之后再对前台加载*/
			for(var d =0;d< ids.length;d++){
					for(var k=0;k< _self.tableData.length;k++)
						{
							if(_self.tableData[k].roleid == ids[d]){
								_self.selectIndex = k;
							}
						}
				}
			this.editForm = Object.assign({}, _self.tableData[_self.selectIndex]);
			/*请求到的resource列表传给edit页面数据*/
			//this.editForm.resourcelist = res.data.resourcelist;
			this.editFormVisible = true;
			},
			//保存点击事件
			editSubmit: function(val) {
			var _self = this;
			/*POST请求递交editForm数据传入roleid之后再对前台加载*/
			this.tableData[this.selectIndex].rolename = val.rolename;
			this.tableData[this.selectIndex].roleinfo = val.roleinfo;
			this.tableData[this.selectIndex].create_name = val.create_name;
            this.tableData[this.selectIndex].create_time = val.create_time;
			this.tableData[this.selectIndex].alter_name = val.alter_name;
			this.tableData[this.selectIndex].alter_time = val.alter_time;
			this.editFormVisible = false;
			_self.loadingData();//重新加载数据
			console.info(this.editForm);
			},
			//新建提交点击事件
			addSubmit: function(val) {
				var _self=this;
				val.resource = this.$refs.tree.getCheckedNodes();
				/*POST请求递交addForm数据传入之后再对前台加载*/ /*此时尚无roleid*/
				this.tableData.unshift({
					rolename: val.rolename,
					roleinfo: val.roleinfo,
                    create_name:val.create_name,
					create_time:val.create_time,
					alter_name:val.alter_name,
					alter_time:val.alter_time,
					resource:val.resource
				});
				this.addFormVisible = false;
				_self.total = _self.tableData.length;
				_self.loadingData();//重新加载数据
				val.rolename = "";
				val.roleinfo = "";
				val.create_name = "";
				val.create_time ="";
				val.alter_name = "";
				val.alter_time ="";
				val.resource=this.allResourceList;
				console.info(this.addForm);
				
			},
			closeDialog:function(val){
				this.addFormVisible = false;
				val.rolename = "";
				val.roleinfo = "";
				val.create_name = "";
				val.create_time ="";
				val.alter_name = "";
				val.alter_time ="";
			},
			closeresourceDialog:function(){
				this.resourceVisible=false;
			}
		},
			
	})
		  
		  $('#menu-toggle-btn').click(function () {
			var left = $('.left-sidebar'),
				main = $('.main-box'),
				$this = $(this);
			if (left.hasClass('damin')) {
				left.removeClass('damin').css('left', '0');
				main.css('padding-left', '240px');
				setTimeout(function () {
					$this.removeClass('menu-toggle-bg').css({ "right": "0", "transform": "rotateY(0)" });
				}, 300);
			} else {
				left.addClass('damin').css('left', '-240px');
				main.css('padding-left', 0);
				setTimeout(function () {
					$this.addClass('menu-toggle-bg').css({ "right": "-26px", "transform": "rotateY(180deg)" });
				}, 300);
			}
		});
	</script>
</html>