<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="lib :: common_header"></head>
	<body class="fw f14">
		<div th:replace="lib :: header_box"></div>
		<div th:replace="lib :: menu_box (21)"></div>
		<div id="app">
			<div class="main-box">
				<div class="main-container">
					<div th:replace="lib :: main_container_header('用户管理','用户管理')"></div>
					<div id="tableView">
						<el-row>
							<el-form :inline="true" label-width="70px" class="el-form demo-form-inline" :model="searchForm">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="用户名">
                                            <el-input size="small" v-model="searchForm.username" style="width: 300px" placeholder="请输入用户名" prefix-icon="el-icon-search"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="真实姓名">
                                            <el-input size="small" v-model="searchForm.realname" style="width: 300px" placeholder="请输入真实姓名" prefix-icon="el-icon-search"></el-input>
                                        </el-form-item>
                                    </el-col>
								</el-row>
								<div>
									<el-form>
										<el-col :span="12" style="text-align: left">
											<el-form-item align="left">
												<el-button type="primary" icon="edit" size="small" @click="editClick">修改</el-button>
												<el-button type="danger" icon="delete" size="small" @click="removeSelection">删除</el-button>
											</el-form-item>
										</el-col>
										<el-col :span="12"></el-col>
										<el-col :span="12" style="text-align: right">
											<el-form-item>
												<el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
												<el-button type="success" icon="plus" size="small" @click="addClick">新增</el-button>
											</el-form-item>
										</el-col>
									</el-form>
								</div>
							</el-form>
						</el-row>



						<div class="table_container">
							<!--<div class="table-title">-->
								<!--<ion-title>查询结果</ion-title>-->
							<!--</div>-->
							<el-table border id="table"
									:data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
									v-loading.body="loading"
									@selection-change="selectionChange"
									style="width: 100%;padding: 0px;"
									:height="tableheight">

								<el-table-column type="selection" min-width="5%"></el-table-column>
								<el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
								<el-table-column prop="pkid" label="主键" min-width="5%" align="center" v-if="false"></el-table-column>
								<el-table-column prop="userid" label="用户ID" min-width="5%" align="center" v-if="false"></el-table-column>
								<el-table-column prop="username" label="用户名" min-width="12%" align="center"></el-table-column>
								<el-table-column prop="realname" label="真实姓名" min-width="12%" align="center"></el-table-column>
								<el-table-column prop="birth" label="生日" min-width="12%" align="center" :formatter="dateFormat"></el-table-column>
								<el-table-column prop="sex" label="性别" min-width="7%" align="center" :formatter="sexFormat"></el-table-column>
								<el-table-column prop="mobile" label="手机号" min-width="15%" align="center"></el-table-column>
								<el-table-column prop="email" label="邮箱" min-width="15%" align="center"></el-table-column>
								<el-table-column prop="role" label="角色" min-width="12%" align="center">
									<template slot-scope="scope">
											<!--
											<el-popover ref="popover2" placement="bottom" title="角色" width="200" trigger="click">
												<span v-for="role in scope.row.roles">{{role.roleinfo}}</span>
											</el-popover>
											<el-button type="text" v-popover:popover2>查看详情</el-button>
											-->
											<el-button type="text" @click="roleDetails(scope.row.userid)">查看详情</el-button>
									</template>
								</el-table-column>
							</el-table>



							<!--列表底部工具条和分页符-->
							<el-row style="margin-top: 20px" type="flex" justify="end">
								<el-col :span="18" >
									<el-pagination
											style="float: right"
											@size-change="pageSizeChange"
											@current-change="currentPageChange"
											:current-page="currentPage"
											:page-sizes="[10, 20, 30, 50]"
											:page-size="pageSize"
											layout="total, sizes, prev, pager, next, jumper"
											:total=parseInt(total)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
						<!--角色列表页-->
						<el-dialog title="用户角色列表" :visible.sync="roleDetailVisible" :close-on-click-modal="false">
							<el-checkbox-group v-model="roleDetailSelect">
								<el-checkbox v-for="role in roleDetailList" :label="role.rolename" :key="role.roleid" disabled>{{role.roleinfo}}<br></el-checkbox>
							</el-checkbox-group>
						</el-dialog>


						<!--新建界面-->
						<el-dialog title="新增用户" :visible.sync="addFormVisible" @close="closeDialog(addForm)" :close-on-click-modal="false">
							<el-form :model="addForm" label-width="80px" :rules="addFormRules" ref="addForm">
								<el-row>
									<el-col :span="8">
										<el-form-item label="用户名" prop="username">
											<el-input v-model="addForm.username" auto-complete="off" style="width:180px" v-on:change="change('username')"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">&nbsp;</el-col>
									<el-col :span="8">
										<el-form-item label="真实姓名" prop="realname">
											<el-input v-model="addForm.realname" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8">
										<el-form-item label="密码" prop="password">
											<el-input v-model="addForm.password" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">&nbsp;</el-col>
									<el-col :span="8">
										<el-form-item label="密码确认" prop="password2">
											<el-input v-model="addForm.password2" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8">
										<el-form-item label="生日">
											<el-date-picker type="date" placeholder="选择日期" @change="dateChangebirthday" format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="addForm.birth" style="width:180px"></el-date-picker>
										</el-form-item>
									</el-col>
									<el-col :span="4">&nbsp;</el-col>
									<el-col :span="8">
										<el-form-item label="性别">
											<el-radio-group v-model="addForm.sex">
												<el-radio class="radio" :label="'1'">男</el-radio>
												<el-radio class="radio" :label="'2'">女</el-radio>
											</el-radio-group>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8">
										<el-form-item label="手机号" prop="mobile">
										<el-input v-model="addForm.mobile" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">&nbsp;</el-col>
									<el-col :span="8">
										<el-form-item label="邮箱" prop="email">
										<el-input v-model="addForm.email" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col>
										<el-form-item label="角色" prop="roles">
											<el-checkbox-group v-model="addForm.roles">
												<el-checkbox v-for="role in allRoles" :label="role" :key="role.roleid">{{role.roleinfo}}</el-checkbox>
											</el-checkbox-group>
										</el-form-item>
									</el-col>
								</el-row>
							</el-form>
							<div slot="footer" class="dialog-footer">
								<el-button @click.native="closeDialog(addForm)">取消</el-button>
								<el-button type="primary" @click.native="addSubmit(addForm)">提交</el-button>
							</div>
						</el-dialog>

						<!--编辑界面-->
						<el-dialog title="编辑用户" :visible.sync="editFormVisible" :close-on-click-modal="false">
							<el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">
								<!--<el-row>-->
									<!--<el-col :span="8">-->
										<!--<el-form-item label="主键" prop="pkid">-->
											<!--<el-input v-model="editForm.pkid" auto-complete="off" style="width:180px"></el-input>-->
										<!--</el-form-item>-->
									<!--</el-col>-->
									<!--<el-col :span="4">&nbsp;</el-col>-->
									<!--<el-col :span="8">-->
										<!--<el-form-item label="用户ID" prop="userid">-->
											<!--<el-input v-model="editForm.userid" auto-complete="off" style="width:180px"></el-input>-->
										<!--</el-form-item>-->
									<!--</el-col>-->
								<!--</el-row>-->
								<el-row>
									<el-col :span="8">
										<el-form-item label="用户名" prop="username">
											<el-input v-model="editForm.username" auto-complete="off" style="width:180px" disabled></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">&nbsp;</el-col>
									<el-col :span="8">
										<el-form-item label="真实姓名" prop="realname">
											<el-input v-model="editForm.realname" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<!--<div class="sub-title">修改密码</div>-->
									<el-col :span="8">
										<el-form-item label="密码" prop="password">
											<el-input v-model="editForm.password" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">&nbsp;</el-col>
									<el-col :span="8">
										<el-form-item label="密码确认" prop="password2">
											<el-input v-model="editForm.password2" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8">
										<el-form-item label="生日">
											<el-date-picker type="date" placeholder="选择日期" @change="dateChangebirthday" format="yyyy-MM-dd"
											value-format="yyyy-MM-dd" v-model="editForm.birth" style="width:180px"></el-date-picker>
										</el-form-item>
									</el-col>
									<el-col :span="4">&nbsp;</el-col>
									<el-col :span="8">
										<el-form-item label="性别">
											<el-radio-group v-model="editForm.sex">
												<el-radio class="radio" :label="'1'">男</el-radio>
												<el-radio class="radio" :label="'2'">女</el-radio>
											</el-radio-group>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8">
										<el-form-item label="手机号" prop="mobile">
										<el-input v-model="editForm.mobile" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">&nbsp;</el-col>
									<el-col :span="8">
										<el-form-item label="邮箱" prop="email">
										<el-input v-model="editForm.email" auto-complete="off" style="width:180px"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col>
										<el-form-item label="角色" prop="roles">
											<el-checkbox-group v-model="editFormSelect">
												<el-checkbox v-for="role in allRoles" :label="role.rolename" :key="role.roleid">{{role.roleinfo}}</el-checkbox>
											</el-checkbox-group>
										</el-form-item>
									</el-col>
								</el-row>
							</el-form>
							<div slot="footer" class="dialog-footer">
								<el-button @click.native="editFormVisible = false">取消</el-button>
									<el-button type="primary" @click.native="editSubmit(editForm)">提交</el-button>
							</div>
						</el-dialog>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="lib :: javascript_box"></div>
		<script th:src="@{/static/js/system/user.js}"></script>
	</body>
</html>