<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.buildingzoning.BuildingDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="jzid != null and jzid != '' ">
		 and t.jzid = #{jzid}
		</if>
		<if test="jzmc != null and jzmc != '' ">
		 and t.jzmc LIKE concat(concat('%',#{jzmc}),'%')
		</if>
		<if test="jzlx != null and jzlx != '' ">
		 and t.jzlx = #{jzlx}
		</if>
		<if test="jzwz != null and jzwz != '' ">
		 and t.jzwz LIKE concat(concat('%',#{jzwz}),'%')
		</if>
		<if test="lon != null and lon != '' ">
		 and t.lon = #{lon}
		</if>
		<if test="lat != null and lat != '' ">
		 and t.lat = #{lat}
		</if>
		<if test="xqxclx != null and xqxclx != '' ">
		 and t.xqxclx = #{xqxclx}
		</if>
		<if test="yjddsc != null and yjddsc != '' ">
		 and t.yjddsc = #{yjddsc}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
		 and t.delete_flag = #{deleteFlag}
		</if>
		<if test="datasource != null and datasource != '' ">
		 and t.datasource = #{datasource}
		</if>
		<if test="bz != null and bz != '' ">
		 and t.bz = #{bz}
		</if>
		<if test="jdh != null and jdh != '' ">
		 and t.jdh = #{jdh}
		</if>
		<if test="sjc != null and sjc != '' ">
		 and t.sjc = #{sjc}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and t.reserve4 = #{reserve4}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.jzid jzid,
		t.jzmc jzmc,
		t.jzlx jzlx,
		t.jzwz jzwz,
		t.lon lon,
		t.lat lat,
		t.xqxclx xqxclx,
		t.yjddsc yjddsc,
		t.delete_flag deleteFlag,
		t.datasource datasource,
		t.bz bz,
		t.jdh jdh,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>
	<!--建筑分区建筑类 查询内容-->
	<sql id="SQL_JZ_CONTENT">
		t_jzl.uuid jzl_uuid,
		t_jzl.jzid jzl_jzid,
		t_jzl.jzqk jzl_jzqk,
		t_jzl.jzsyxz jzl_jzsyxz,
		t_jzl.jzjg jzl_jzjg,
		t_jzl.gnms jzl_gnms,
		t_jzl.zdmj jzl_zdmj,
		t_jzl.jzmj jzl_jzmj,
		t_jzl.dsgd jzl_dsgd,
		t_jzl.dxgd jzl_dxgd,
		t_jzl.dscs jzl_dscs,
		t_jzl.dxcs jzl_dxcs,
		t_jzl.delete_flag jzl_deleteFlag,
		t_jzl.datasource jzl_datasource,
		t_jzl.jdh jzl_jdh,
		TO_CHAR(t_jzl.sjc,'yyyy-MM-dd HH24:mi:ss') jzl_sjc,
		t_jzl.reserve1 jzl_reserve1,
		t_jzl.reserve2 jzl_reserve2,
		t_jzl.reserve3 jzl_reserve3,
		TO_CHAR(t_jzl.reserve4,'yyyy-MM-dd HH24:mi:ss') jzl_reserve4
	</sql>
	<!--建筑分区装置类 查询内容-->
	<sql id="SQL_ZZ_CONTENT">
		t_zzl.uuid zzl_uuid,
		t_zzl.jzid zzl_jzid,
		t_zzl.jzjg zzl_jzjg,
		t_zzl.zdmj zzl_zdmj,
		t_zzl.zzzc zzl_zzzc,
		t_zzl.zzgd zzl_zzgd,
		t_zzl.jsfzr zzl_jsfzr,
		t_zzl.jsfzrdh zzl_jsfzrdh,
		t_zzl.ylxx zzl_ylxx,
		t_zzl.cwxx zzl_cwxx,
		t_zzl.gylc zzl_gylc,
		t_zzl.delete_flag zzl_deleteFlag,
		t_zzl.datasource zzl_datasource,
		t_zzl.jdh zzl_jdh,
		TO_CHAR(t_zzl.sjc,'yyyy-MM-dd HH24:mi:ss') zzl_sjc,
		t_zzl.reserve1 zzl_reserve1,
		t_zzl.reserve2 zzl_reserve2,
		t_zzl.reserve3 zzl_reserve3,
		TO_CHAR(t_zzl.reserve4,'yyyy-MM-dd HH24:mi:ss') zzl_reserve4
	</sql>
	<!--建筑分区储罐类 查询内容-->
	<sql id="SQL_CG_CONTENT">
		t_cgl.uuid cgl_uuid,
		t_cgl.jzid cgl_jzid,
		t_cgl.zrj cgl_zrj,
		t_cgl.cgsl cgl_cgsl,
		t_cgl.cgjg cgl_cgjg,
		t_cgl.ccjzms cgl_ccjzms,
		t_cgl.jsfzr cgl_jsfzr,
		t_cgl.jsfzrdh cgl_jsfzrdh,
		t_cgl.plqkd cgl_plqkd,
		t_cgl.plqkn cgl_plqkn,
		t_cgl.plqkx cgl_plqkx,
		t_cgl.plqkb cgl_plqkb,
		t_cgl.delete_flag cgl_deleteFlag,
		t_cgl.datasource cgl_datasource,
		t_cgl.jdh cgl_jdh,
		TO_CHAR(t_cgl.sjc,'yyyy-MM-dd HH24:mi:ss') cgl_sjc,
		t_cgl.reserve1 cgl_reserve1,
		t_cgl.reserve2 cgl_reserve2,
		t_cgl.reserve3 cgl_reserve3,
		TO_CHAR(t_cgl.reserve4,'yyyy-MM-dd HH24:mi:ss') cgl_reserve4
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="BuildingVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM YAGL_DWJZXX t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="BuildingVO"  resultType="BuildingVO"> 
		SELECT 
		<include refid="SQL_CONTENT"/>,
		c2.code_name jzlxmc
		FROM YAGL_DWJZXX t
		<!--建筑分区类型关联代码集-->
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
		WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="BuildingVO"  resultType="BuildingVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>,
		c2.code_name jzlxmc
		FROM YAGL_DWJZXX t
		<!--建筑分区类型关联代码集-->
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
		WHERE t.DELETE_FLAG = 'N' AND  t.JZID = #{value}
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="BuildingVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="JZID">
			SELECT SYS_GUID() AS JZID FROM DUAL
		</selectKey>
		INSERT INTO YAGL_DWJZXX(jzid,jzmc,jzlx,jzwz,lon,lat,xqxclx,yjddsc,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		VALUES(#{jzid,jdbcType=VARCHAR},#{jzmc,jdbcType=VARCHAR},#{jzlx,jdbcType=VARCHAR},#{jzwz,jdbcType=VARCHAR},#{lon,jdbcType=DOUBLE},#{lat,jdbcType=DOUBLE},#{xqxclx,jdbcType=VARCHAR},#{yjddsc,jdbcType=DOUBLE},'N',#{datasource,jdbcType=VARCHAR},#{bz,jdbcType=VARCHAR},#{jdh,jdbcType=VARCHAR},#{sjc,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO YAGL_DWJZXX(jzid,jzmc,jzlx,jzwz,lon,lat,xqxclx,yjddsc,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		SELECT SYS_GUID() jzid, A.*
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.jzid,jdbcType=VARCHAR} jzid,#{item.jzmc,jdbcType=VARCHAR} jzmc,#{item.jzlx,jdbcType=VARCHAR} jzlx,#{item.jzwz,jdbcType=VARCHAR} jzwz,#{item.lon,jdbcType=DOUBLE} lon,#{item.lat,jdbcType=DOUBLE} lat,#{item.xqxclx,jdbcType=VARCHAR} xqxclx,#{item.yjddsc,jdbcType=DOUBLE} yjddsc,'N' delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.bz,jdbcType=VARCHAR} bz,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  YAGL_DWJZXX t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.JZID = #{value}
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="BuildingVO"> 
		UPDATE   YAGL_DWJZXX
		<set>
			<if test="jzid != null">jzid=#{jzid},</if>
			<if test="jzmc != null">jzmc=#{jzmc},</if>
			<if test="jzlx != null">jzlx=#{jzlx},</if>
			<if test="jzwz != null">jzwz=#{jzwz},</if>
			<if test="lon != null">lon=#{lon},</if>
			<if test="lat != null">lat=#{lat},</if>
			<if test="xqxclx != null">xqxclx=#{xqxclx},</if>
			<if test="yjddsc != null">yjddsc=#{yjddsc},</if>
			<if test="deleteFlag != null">delete_flag='N',</if>
			<if test="datasource != null">datasource=#{datasource},</if>
			<if test="bz != null">bz=#{bz},</if>
			<if test="jdh != null">jdh=#{jdh},</if>
			<if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  JZID = #{jzid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO YAGL_DWJZXX(jzid,jzmc,jzlx,jzwz,lon,lat,xqxclx,yjddsc,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.jzid,jdbcType=VARCHAR} jzid,#{item.jzmc,jdbcType=VARCHAR} jzmc,#{item.jzlx,jdbcType=VARCHAR} jzlx,#{item.jzwz,jdbcType=VARCHAR} jzwz,#{item.lon,jdbcType=DOUBLE} lon,#{item.lat,jdbcType=DOUBLE} lat,#{item.xqxclx,jdbcType=VARCHAR} xqxclx,#{item.yjddsc,jdbcType=DOUBLE} yjddsc,'N' delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.bz,jdbcType=VARCHAR} bz,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		</foreach>
		ON DUPLICATE KEY UPDATE
			jzid = VALUES(jzid),
			jzmc = VALUES(jzmc),
			jzlx = VALUES(jzlx),
			jzwz = VALUES(jzwz),
			lon = VALUES(lon),
			lat = VALUES(lat),
			xqxclx = VALUES(xqxclx),
			yjddsc = VALUES(yjddsc),
			delete_flag = VALUES(delete_flag),
			datasource = VALUES(datasource),
			bz = VALUES(bz),
			jdh = VALUES(jdh),
			sjc = VALUES(sjc),
			reserve1 = VALUES(reserve1),
			reserve2 = VALUES(reserve2),
			reserve3 = VALUES(reserve3),
			reserve4 = VALUES(reserve4)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="BuildingVO"  resultType="BuildingVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>,
		c2.code_name jzlxmc
		FROM YAGL_DWJZXX t
		<!--建筑分区类型关联代码集-->
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
		WHERE t.DELETE_FLAG = 'N' 
		<include refid="SQL_CONDITION"/>
	</select>

	<!--查找建筑分区详情关联建筑分区-建筑类-->
	<select id="doFindFqAndJzDetailByVo" parameterType="BuildingVO"  resultType="BuildingVO">
		SELECT tt.*,
		s.pic_blob photo FROM
		(
			SELECT
			<include refid="SQL_CONTENT"/>,
			c2.code_name jzlxmc,
			<include refid="SQL_JZ_CONTENT"/>,
			c4.code_name jzl_jzqkmc,
			c6.code_name jzl_jzsyxzmc,
			c8.code_name jzl_jzjgmc
			FROM YAGL_DWJZXX t
			LEFT JOIN YAGL_DWJZXX_JZL t_jzl ON t.jzid = t_jzl.jzid AND t_jzl.DELETE_FLAG = 'N'
			<!--建筑分区类型关联代码集-->Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
			Left Join SYS_CODELIST_DETAIL c2 On c2.CODEID = c1.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
			<!--
			建筑类型-->Left Join SYS_CODELIST c3 on c3.CODETYPE = 'JZLX' And c3.DELETE_FLAG = 'N'
			Left Join SYS_CODELIST_DETAIL c4 On c4.CODEID = c3.CODEID And c4.DELETE_FLAG = 'N' and t_jzl.jzqk = c4.
			CODE_VALUE
			<!--建筑使用性质-->Left Join SYS_CODELIST c5 on c5.CODETYPE = 'JZSYXZ' And c5.DELETE_FLAG = 'N'
			Left
			Join SYS_CODELIST_DETAIL c6 On c6.CODEID = c5.CODEID And c6.DELETE_FLAG = 'N' and t_jzl.jzsyxz = c6.
			CODE_VALUE
			<!--建筑结构-->Left Join SYS_CODELIST c7 on c7.CODETYPE = 'JZJG' And c7.DELETE_FLAG = 'N'
			Left
			Join SYS_CODELIST_DETAIL c8 On c8.CODEID = c7.CODEID And c8.DELETE_FLAG = 'N' and t_jzl.jzjg = c8
			.CODE_VALUE
			WHERE t.DELETE_FLAG = 'N'
			<include refid="SQL_CONDITION"/>
		)tt,SYS_CODELIST_PICTURE s
		WHERE s.pic_type = 'JZFL' and pic_value = #{jzlx}
	</select>

	<!--查找建筑分区详情关联建筑分区-装置类-->
	<select id="doFindFqAndZzDetailByVo" parameterType="BuildingVO"  resultType="BuildingVO">
		SELECT tt.*,
		s.pic_blob photo FROM
		(
			SELECT
			<include refid="SQL_CONTENT"/>,
			c2.code_name jzlxmc,
			<include refid="SQL_ZZ_CONTENT"/>,
			c4.code_name zzl_jzjgmc
			FROM YAGL_DWJZXX t
			LEFT JOIN YAGL_DWJZXX_ZZL t_zzl ON t.jzid = t_zzl.jzid AND t_zzl.DELETE_FLAG = 'N'
			<!--建筑分区类型关联代码集-->Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
			Left Join SYS_CODELIST_DETAIL c2 On c2.CODEID = c1.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
			<!--
			建筑结构-->Left Join SYS_CODELIST c3 on c3.CODETYPE = 'JZJG' And c3.DELETE_FLAG = 'N'
			Left Join SYS_CODELIST_DETAIL c4 On c4.CODEID = c3.CODEID And c4.DELETE_FLAG = 'N' and t_zzl.jzjg = c4.
			CODE_VALUE
			WHERE t.DELETE_FLAG = 'N'
			<include refid="SQL_CONDITION"/>
		)tt,SYS_CODELIST_PICTURE s
		WHERE s.pic_type = 'JZFL' and pic_value = #{jzlx}
	</select>

	<!--查找建筑分区详情关联建筑分区-储罐类-->
	<select id="doFindFqAndCgDetailByVo" parameterType="BuildingVO"  resultType="BuildingVO">
		SELECT tt.*,
		s.pic_blob photo FROM
		(
			SELECT
			<include refid="SQL_CONTENT"/>,
			c2.code_name jzlxmc,
			<include refid="SQL_CG_CONTENT"/>
			FROM YAGL_DWJZXX t
			LEFT JOIN YAGL_DWJZXX_CGL t_cgl ON t.jzid = t_cgl.jzid AND t_cgl.DELETE_FLAG = 'N'
			<!--建筑分区类型关联代码集-->
			Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
			Left Join SYS_CODELIST_DETAIL c2 On c2.CODEID = c1.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
			WHERE t.DELETE_FLAG = 'N'
			<include refid="SQL_CONDITION"/>
		)tt,SYS_CODELIST_PICTURE s
		WHERE s.pic_type = 'JZFL' and pic_value = #{jzlx}
	</select>

	<!--通过建筑ID查询所有危险介质信息-->
	<select id="doFindWeiXianJieZhiList" parameterType="WeixianjiezhiVO"  resultType="WeixianjiezhiVO">
		SELECT
		t.uuid uuid,
		t.bwid bwid,
		t.jzmc jzmc,
		t.jzsjcl jzsjcl,
		t.jzlhtx jzlhtx,
		t.jzbz jzbz,
		t.delete_flag deleteFlag,
		t.datasource datasource,
		t.jdh jdh,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
		FROM YAGL_ZDBW_JZL_WXJZ t
		WHERE t.DELETE_FLAG = 'N'
		and t.bwid = #{bwid}
	</select>

	<!--通过罐组ID查询所有储罐信息-->
	<select id="doFindChuGuanList" parameterType="ChuguanVO"  resultType="ChuguanVO">
		SELECT
		t.uuid uuid,
		t.sjlx sjlx,
		t.pkid pkid,
		t.cgmc cgmc,
		t.cglx cglx,
		t.cgrl cgrl,
		t.cgzj cgzj,
		t.cggd cggd,
		t.cgzc cgzc,
		t.gdmj gdmj,
		t.gzyl gzyl,
		t.ccwd ccwd,
		t.ccjzmc ccjzmc,
		t.ccjzlhxz ccjzlhxz,
		t.ccjzsjcl ccjzsjcl,
		t.ccjzywgd ccjzywgd,
		t.delete_flag deleteFlag,
		t.datasource datasource,
		t.bz bz,
		t.jdh jdh,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4,
		c2.code_name cglxmc
		FROM YAGL_JZBW_CGL_CG t
		<!--储罐类型-->
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'CGLX' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.cglx = c2.CODE_VALUE
		WHERE t.DELETE_FLAG = 'N'
		and t.pkid = #{pkid}
	</select>

	<!--通过重点单位id查询包含分区id-->
	<select id="doFindFqidListByZddwid" parameterType="String"  resultType="String">
		SELECT FQID
 		FROM YAGL_DX_ZDDW_JZFQ WHERE DELETE_FLAG = 'N'
 		AND ZDDWID = #{value}
	</select>

	<!--通过重点单位id查询建筑信息list-->
	<select id="doSearchJzListByZddwId" parameterType="BuildingVO"  resultType="BuildingVO">
		SELECT <include refid="SQL_CONTENT"/>,
		c2.code_name jzlxmc
		FROM YAGL_DX_ZDDW_JZFQ z,YAGL_DWJZXX t
		<!--建筑分区类型关联代码集-->
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
		WHERE t.DELETE_FLAG = 'N'
		and z.fqid = t.jzid
		and z.zddwid = #{zddwid}
		<include refid="SQL_CONDITION"/>
	</select>

</mapper>
