<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.digitalplan.DistributeDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="uuid != null and uuid != '' ">
			and t.uuid = #{uuid}
		</if>
		<if test="jgid != null and jgid != '' ">
			and t.jgid = #{jgid}
		</if>
		<if test="yaid != null and yaid != '' ">
			and t.yaid = #{yaid}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
			and t.delete_flag = #{deleteFlag}
		</if>
		<if test="datasource != null and datasource != '' ">
			and t.datasource = #{datasource}
		</if>
		<if test="sjc != null and sjc != '' ">
			and t.sjc = #{sjc}
		</if>
		<if test="jdh != null and jdh != '' ">
			and t.jdh = #{jdh}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
			and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
			and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
			and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
			and t.reserve4 = #{reserve4}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.uuid uuid,
		t.jgid jgid,
		t.yaid yaid,
		t.delete_flag deleteFlag,
		t.datasource datasource,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.jdh jdh,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="DistributeVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM YAGL_ORGANIZATION_YA t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="DistributeVO"  resultType="DistributeVO">
		SELECT
		<include refid="SQL_CONTENT"/>
		FROM YAGL_ORGANIZATION_YA t  WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="DistributeVO"  resultType="DistributeVO">
		SELECT
		<include refid="SQL_CONTENT"/>
		FROM YAGL_ORGANIZATION_YA t
		WHERE t.DELETE_FLAG = 'N' AND  t.uuid = #{value}
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="DistributeVO">
		<selectKey resultType="String" order="BEFORE" keyProperty="uuid">
			SELECT SYS_GUID() AS uuid FROM DUAL
		</selectKey>
		INSERT INTO YAGL_ORGANIZATION_YA(uuid,jgid,yaid,delete_flag,datasource,sjc,jdh,reserve1,reserve2,reserve3,reserve4)
		VALUES(#{uuid,jdbcType=VARCHAR},#{jgid,jdbcType=VARCHAR},#{yaid,jdbcType=VARCHAR},'N',#{datasource,jdbcType=VARCHAR},#{sjc,jdbcType=DATE},#{jdh,jdbcType=VARCHAR},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
	</insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List">
		INSERT INTO YAGL_ORGANIZATION_YA(uuid,jgid,yaid,delete_flag,datasource,sjc,jdh,reserve1,reserve2,reserve3,reserve4)
		SELECT SYS_GUID() uuid, A.*
		FROM (
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
			SELECT
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.jgid,jdbcType=VARCHAR} jgid,#{item.yaid,jdbcType=VARCHAR} yaid,'N' delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.sjc,jdbcType=DATE} sjc,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
			FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  YAGL_ORGANIZATION_YA t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.uuid = #{value} 
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="DistributeVO">
		UPDATE   YAGL_ORGANIZATION_YA
		<set>
			<if test="uuid != null">uuid=#{uuid},</if>
			<if test="jgid != null">jgid=#{jgid},</if>
			<if test="yaid != null">yaid=#{yaid},</if>
			<if test="deleteFlag != null">delete_flag='N',</if>
			<if test="datasource != null">datasource=#{datasource},</if>
			<if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="jdh != null">jdh=#{jdh},</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  uuid = #{uuid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO YAGL_ORGANIZATION_YA(uuid,jgid,yaid,delete_flag,datasource,sjc,jdh,reserve1,reserve2,reserve3,reserve4)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.jgid,jdbcType=VARCHAR} jgid,#{item.yaid,jdbcType=VARCHAR} yaid,'N' delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.sjc,jdbcType=DATE} sjc,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		</foreach>
		ON DUPLICATE KEY UPDATE
		uuid = VALUES(uuid),
		jgid = VALUES(jgid),
		yaid = VALUES(yaid),
		delete_flag = VALUES(delete_flag),
		datasource = VALUES(datasource),
		sjc = VALUES(sjc),
		jdh = VALUES(jdh),
		reserve1 = VALUES(reserve1),
		reserve2 = VALUES(reserve2),
		reserve3 = VALUES(reserve3),
		reserve4 = VALUES(reserve4)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="DistributeVO"  resultType="DistributeVO">
		SELECT
		<include refid="SQL_CONTENT"/>
		FROM YAGL_ORGANIZATION_YA t
		WHERE t.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--12.根据预案ID删除记录-->
	<update id="doDeleteByYaid" parameterType="String">
		UPDATE YAGL_ORGANIZATION_YA SET DELETE_FLAG = 'Y' WHERE yaid = #{value}
	</update>

	<!--13向组织机构预案中间表批量插入数据-->
	<insert id="doInsertDistributeVO" parameterType="DistributeVO" >
		INSERT INTO YAGL_ORGANIZATION_YA(uuid,jgid,yaid,delete_flag,jdh,datasource,sjc)
		VALUES (sys_guid(),#{jgid,jdbcType=VARCHAR},#{yaid,jdbcType=VARCHAR},'N',#{jdh,jdbcType=VARCHAR},#{datasource,jdbcType=VARCHAR},sysdate)
	</insert>

	<!--14.根据预案ID查询分发的总队-->
	<select id="doFindFfdzByYaid" parameterType="String" resultType="DistributeVO">
		SELECT t.uuid,t.jgid,t.yaid FROM YAGL_ORGANIZATION_YA t
		LEFT JOIN sys_organization s ON t.jgid = s.uuid
		WHERE t.delete_flag = 'N' AND t.yaid = #{value}
	</select>

</mapper>
