<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.basicinfo.equipmentsource.EquipengineDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="uuid != null and uuid != '' ">
		 and t.uuid = #{uuid}
		</if>
		<if test="zbid != null and zbid != '' ">
		 and t.zbid = #{zbid}
		</if>
		<if test="clid != null and clid != '' ">
		 and t.clid = #{clid}
		</if>
		<if test="clmc != null and clmc != '' ">
		 and t.clmc = #{clmc}
		</if>
		<if test="clzzs != null and clzzs != '' ">
		 and t.clzzs = #{clzzs}
		</if>
		<if test="bz != null and bz != '' ">
		 and t.bz = #{bz}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
		 and t.delete_flag = #{deleteFlag}
		</if>
		<if test="datasource != null and datasource != '' ">
		 and t.datasource = #{datasource}
		</if>
		<if test="jdh != null and jdh != '' ">
		 and t.jdh = #{jdh}
		</if>
		<if test="sjc != null and sjc != '' ">
		 and t.sjc = #{sjc}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and t.reserve4 = #{reserve4}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.uuid uuid,
		t.zbid zbid,
		t.clid clid,
		t.clmc clmc,
		t.clzzs clzzs,
		t.bz bz,
		t.delete_flag deleteFlag,
		t.datasource datasource,
		t.jdh jdh,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="EquipengineVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM YAGL_WL_XFZBXX_CL t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="EquipengineVO"  resultType="EquipengineVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM YAGL_WL_XFZBXX_CL t  WHERE t.DELETE_FLAG = 'N' 
			<include refid="SQL_CONDITION"/>
		ORDER BY ZBBM
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="EquipengineVO"  resultType="EquipengineVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM YAGL_WL_XFZBXX_CL t 
		WHERE t.DELETE_FLAG = 'N' AND  t.UUID = #{value}
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="EquipengineVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="uuid">
			SELECT SYS_GUID() AS uuid FROM DUAL
		</selectKey>
		INSERT INTO YAGL_WL_XFZBXX_CL(uuid,zbid,clid,clmc,clzzs,bz,delete_flag,datasource,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		VALUES(#{uuid,jdbcType=VARCHAR},#{zbid,jdbcType=VARCHAR},#{clid,jdbcType=VARCHAR},#{clmc,jdbcType=VARCHAR},#{clzzs,jdbcType=DOUBLE},#{bz,jdbcType=VARCHAR},'N',#{datasource,jdbcType=VARCHAR},#{jdh,jdbcType=VARCHAR},#{sjc,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO YAGL_WL_XFZBXX_CL(uuid,zbid,clid,clmc,clzzs,bz,delete_flag,datasource,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		SELECT SYS_GUID() uuid, A.*
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.zbid,jdbcType=VARCHAR} zbid,#{item.clid,jdbcType=VARCHAR} clid,#{item.clmc,jdbcType=VARCHAR} clmc,#{item.clzzs,jdbcType=DOUBLE} clzzs,#{item.bz,jdbcType=VARCHAR} bz,'N' delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  YAGL_WL_XFZBXX_CL t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.UUID = #{value}
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="EquipengineVO"> 
		UPDATE   YAGL_WL_XFZBXX_CL  
		<set>
			<if test="uuid != null">uuid=#{uuid},</if>
			<if test="zbid != null">zbid=#{zbid},</if>
			<if test="clid != null">clid=#{clid},</if>
			<if test="clmc != null">clmc=#{clmc},</if>
			<if test="clzzs != null">clzzs=#{clzzs},</if>
			<if test="bz != null">bz=#{bz},</if>
			<if test="deleteFlag != null">delete_flag='N',</if>
			<if test="datasource != null">datasource=#{datasource},</if>
			<if test="jdh != null">jdh=#{jdh},</if>
			<if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  UUID = #{uuid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO YAGL_WL_XFZBXX_CL(uuid,zbid,clid,clmc,clzzs,bz,delete_flag,datasource,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.zbid,jdbcType=VARCHAR} zbid,#{item.clid,jdbcType=VARCHAR} clid,#{item.clmc,jdbcType=VARCHAR} clmc,#{item.clzzs,jdbcType=DOUBLE} clzzs,#{item.bz,jdbcType=VARCHAR} bz,'N' delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		</foreach>
		ON DUPLICATE KEY UPDATE   
			uuid = VALUES(uuid),
			zbid = VALUES(zbid),
			clid = VALUES(clid),
			clmc = VALUES(clmc),
			clzzs = VALUES(clzzs),
			bz = VALUES(bz),
			delete_flag = VALUES(delete_flag),
			datasource = VALUES(datasource),
			jdh = VALUES(jdh),
			sjc = VALUES(sjc),
			reserve1 = VALUES(reserve1),
			reserve2 = VALUES(reserve2),
			reserve3 = VALUES(reserve3),
			reserve4 = VALUES(reserve4)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="EquipengineVO"  resultType="EquipengineVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM YAGL_WL_XFZBXX_CL t 
		WHERE t.DELETE_FLAG = 'N' 
		<include refid="SQL_CONDITION"/>
	</select>

</mapper>
