<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.ewbh.EwbhDAO">
    <!--1.查询条件-->
    <sql id="SQL_CONDITION">
        <if test="uuid != null and uuid != '' ">
            and t.uuid = #{uuid}
        </if>
        <if test="zddwid != null and zddwid != '' ">
            and t.zddwid = #{zddwid}
        </if>
        <if test="xzlj != null and xzlj != '' ">
            and t.xzlj = #{xzlj}
        </if>
        <if test="wjm != null and wjm != '' ">
            and t.wjm LIKE concat(concat('%',#{wjm}),'%') ESCAPE '\'
        </if>
        <if test="kzm != null and kzm != '' ">
            and t.kzm = #{kzm}
        </if>
        <if test="cjrid != null and cjrid != '' ">
            and t.cjrid = #{cjrid}
        </if>
        <if test="cjrmc != null and cjrmc != '' ">
            and t.cjrmc = #{cjrmc}
        </if>
        <if test="cjsj != null and cjsj != '' ">
            and t.cjsj = #{cjsj}
        </if>
        <if test="xgrid != null and xgrid != '' ">
            and t.xgrid = #{xgrid}
        </if>
        <if test="xgrmc != null and xgrmc != '' ">
            and t.xgrmc = #{xgrmc}
        </if>
        <if test="xgsj != null and xgsj != '' ">
            and t.xgsj = #{xgsj}
        </if>
        <if test="deleteFlag != null and deleteFlag != '' ">
            and t.delete_flag = #{deleteFlag}
        </if>
        <if test="datasource != null and datasource != '' ">
            and t.datasource = #{datasource}
        </if>
        <if test="bz != null and bz != '' ">
            and t.bz = #{bz}
        </if>
        <if test="jdh != null and jdh != '' and orgJgid != '01000000' ">
            and t.jdh = #{jdh}
        </if>
        <if test="sjc != null and sjc != '' ">
            and t.sjc = #{sjc}
        </if>
        <if test="reserve1 != null and reserve1 != '' ">
            and t.reserve1 = #{reserve1}
        </if>
        <if test="reserve2 != null and reserve2 != '' ">
            and t.reserve2 = #{reserve2}
        </if>
        <if test="reserve3 != null and reserve3 != '' ">
            and t.reserve3 = #{reserve3}
        </if>
        <if test="reserve4 != null and reserve4 != '' ">
            and t.reserve4 = #{reserve4}
        </if>
        <if test="bhnr != null and bhnr != '' ">
            and t.bhnr = #{bhnr}
        </if>
    </sql>

    <!--2.查询内容-->
    <sql id="SQL_CONTENT">
		t.uuid uuid,
		t.zddwid zddwid,
		t.xzlj xzlj,
		t.wjm wjm,
		t.kzm kzm,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.delete_flag deleteFlag,
		t.datasource datasource,
		t.bz bz,
		t.jdh jdh,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4,
		t.bhnr bhnr
	</sql>

    <!--3.查询记录数-->
    <select id="doSearchCount" parameterType="EwbhVO" resultType="java.lang.Integer">
        SELECT COUNT(0) AS NUM FROM YAGL_EWBH_FJ t WHERE 1=1 AND DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

    <!--4.按条件查询记录-->
    <select id="doSearchListByVO" parameterType="EwbhVO" resultType="EwbhVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        z.dwmc zddwmc
        FROM YAGL_EWBH_FJ t
        left join YAGL_DX_ZDDW z on z.DELETE_FLAG = 'N' and z.UUID = t.zddwid
        WHERE t.DELETE_FLAG = 'N'
        <if test="zddwmc != null and zddwmc != '' ">
            AND z.DWMC LIKE concat(concat('%',#{zddwmc}),'%') ESCAPE '\'
        </if>
        <include refid="SQL_CONDITION"/>
        ORDER BY NVL(xgsj,cjsj) DESC
    </select>

    <!--5.根据ID查询记录-->
    <select id="doFindById" parameterType="EwbhVO" resultType="EwbhVO">
        SELECT
        <include refid="SQL_CONTENT"/>
        FROM YAGL_EWBH_FJ t
        WHERE t.DELETE_FLAG = 'N' AND t.UUID = #{uuid}
    </select>

    <!--6.按照VO插入-->
    <insert id="doInsertByVO" parameterType="EwbhVO">
        <selectKey resultType="String" order="BEFORE" keyProperty="uuid">
            SELECT SYS_GUID() AS uuid FROM DUAL
        </selectKey>
        INSERT INTO
        YAGL_EWBH_FJ(uuid,zddwid,xzlj,wjm,kzm,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4,bhnr)
        VALUES(#{uuid,jdbcType=VARCHAR},#{zddwid,jdbcType=VARCHAR},#{xzlj,jdbcType=VARCHAR},#{wjm,jdbcType=VARCHAR},#{kzm,jdbcType=VARCHAR},#{cjrid,jdbcType=VARCHAR},#{cjrmc,jdbcType=VARCHAR},sysdate,#{xgrid,jdbcType=VARCHAR},#{xgrmc,jdbcType=VARCHAR},#{xgsj,jdbcType=DATE},'N',#{datasource,jdbcType=VARCHAR},#{bz,jdbcType=VARCHAR},#{jdh,jdbcType=VARCHAR},#{sjc,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE},#{bhnr,jdbcType=VARCHAR})
    </insert>

    <!--7.批量插入-->
    <insert id="doBatchInsertByList" parameterType="java.util.List">
        INSERT INTO
        YAGL_EWBH_FJ(uuid,zddwid,xzlj,wjm,kzm,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4,bhnr)
        SELECT SYS_GUID() uuid, A.*
        FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.uuid,jdbcType=VARCHAR} uuid,#{item.zddwid,jdbcType=VARCHAR} zddwid,#{item.xzlj,jdbcType=VARCHAR}
            xzlj,#{item.wjm,jdbcType=VARCHAR} wjm,#{item.kzm,jdbcType=VARCHAR} kzm,#{item.cjrid,jdbcType=VARCHAR}
            cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR}
            xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,'N'
            delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.bz,jdbcType=VARCHAR}
            bz,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR}
            reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR}
            reserve3,#{item.reserve4,jdbcType=DATE} reserve4,#{item.bhnr,jdbcType=VARCHAR} bhnr
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <!--8.按主键逻辑删除-->
    <update id="doDeleteById" parameterType="String">
		UPDATE  YAGL_EWBH_FJ t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.UUID = #{value}
	</update>

    <!--9.按复合条件逻辑更新-->
    <update id="doUpdateByVO" parameterType="EwbhVO">
        UPDATE YAGL_EWBH_FJ
        <set>
            <!--<if test="uuid != null">uuid=#{uuid},</if>-->
            <if test="zddwid != null">zddwid=#{zddwid},</if>
            <if test="xzlj != null">xzlj=#{xzlj},</if>
            <if test="wjm != null">wjm=#{wjm},</if>
            <if test="kzm != null">kzm=#{kzm},</if>
            <if test="cjrid != null">cjrid=#{cjrid},</if>
            <if test="cjrmc != null">cjrmc=#{cjrmc},</if>
            <if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="xgrid != null">xgrid=#{xgrid},</if>
            <if test="xgrmc != null">xgrmc=#{xgrmc},</if>
            xgsj=sysdate,
            <if test="deleteFlag != null">delete_flag=#{deleteFlag},</if>
            <if test="datasource != null">datasource=#{datasource},</if>
            <if test="bz != null">bz=#{bz},</if>
            <!--<if test="jdh != null">jdh=#{jdh},</if>-->
            <if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="reserve1 != null">reserve1=#{reserve1},</if>
            <if test="reserve2 != null">reserve2=#{reserve2},</if>
            <if test="reserve3 != null">reserve3=#{reserve3},</if>
            <if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="bhnr != null">bhnr=#{bhnr}</if>
        </set>
        WHERE UUID = #{uuid}
    </update>

    <!--10.批量修改-->
    <update id="doBatchUpdateByList" parameterType="java.util.List">
        INSERT INTO
        YAGL_EWBH_FJ(uuid,zddwid,xzlj,wjm,kzm,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.uuid,jdbcType=VARCHAR} uuid,#{item.zddwid,jdbcType=VARCHAR} zddwid,#{item.xzlj,jdbcType=VARCHAR}
            xzlj,#{item.wjm,jdbcType=VARCHAR} wjm,#{item.kzm,jdbcType=VARCHAR} kzm,#{item.cjrid,jdbcType=VARCHAR}
            cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR}
            xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,'N'
            delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.bz,jdbcType=VARCHAR}
            bz,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR}
            reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR}
            reserve3,#{item.reserve4,jdbcType=DATE} reserve4,#{item.bhnr,jdbcType=VARCHAR} bhnr
        </foreach>
        ON DUPLICATE KEY UPDATE
        uuid = VALUES(uuid),
        zddwid = VALUES(zddwid),
        xzlj = VALUES(xzlj),
        wjm = VALUES(wjm),
        kzm = VALUES(kzm),
        cjrid = VALUES(cjrid),
        cjrmc = VALUES(cjrmc),
        cjsj = VALUES(cjsj),
        xgrid = VALUES(xgrid),
        xgrmc = VALUES(xgrmc),
        xgsj = VALUES(xgsj),
        delete_flag = VALUES(delete_flag),
        datasource = VALUES(datasource),
        bz = VALUES(bz),
        jdh = VALUES(jdh),
        sjc = VALUES(sjc),
        reserve1 = VALUES(reserve1),
        reserve2 = VALUES(reserve2),
        reserve3 = VALUES(reserve3),
        reserve4 = VALUES(reserve4),
        bhnr = VALUES(bhnr)
    </update>

    <!--11.根据对象查询记录-->
    <select id="doFindByVO" parameterType="EwbhVO" resultType="EwbhVO">
        SELECT
        <include refid="SQL_CONTENT"/>
        FROM YAGL_EWBH_FJ t
        WHERE t.DELETE_FLAG = 'N'
        <include refid="SQL_CONDITION"/>
    </select>

</mapper>
