<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.auxiliarydecision.firecalculation.FirecalculationlistDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="uuid != null and uuid != '' ">
		 and t.uuid = #{uuid}
		</if>
		<if test="gsmc != null and gsmc != '' ">
		 and t.gsmc = #{gsmc}
		</if>
		<if test="gslb != null and gslb != '' ">
		 and t.gslb = #{gslb}
		</if>
		<if test="gssm != null and gssm != '' ">
		 and t.gssm = #{gssm}
		</if>
		<if test="jsgs != null and jsgs != '' ">
		 and t.jsgs = #{jsgs}
		</if>
		<if test="jsgsdw != null and jsgsdw != '' ">
		 and t.jsgsdw = #{jsgsdw}
		</if>
		<if test="sfqy != null and sfqy != '' ">
		 and t.sfqy = #{sfqy}
		</if>
		<if test="cjrid != null and cjrid != '' ">
		 and t.cjrid = #{cjrid}
		</if>
		<if test="cjrmc != null and cjrmc != '' ">
		 and t.cjrmc = #{cjrmc}
		</if>
		<if test="cjsj != null and cjsj != '' ">
		 and t.cjsj = #{cjsj}
		</if>
		<if test="xgrid != null and xgrid != '' ">
		 and t.xgrid = #{xgrid}
		</if>
		<if test="xgrmc != null and xgrmc != '' ">
		 and t.xgrmc = #{xgrmc}
		</if>
		<if test="xgsj != null and xgsj != '' ">
		 and t.xgsj = #{xgsj}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
		 and t.delete_flag = #{deleteFlag}
		</if>
		<if test="datasource != null and datasource != '' ">
		 and t.datasource = #{datasource}
		</if>
		<if test="bz != null and bz != '' ">
		 and t.bz = #{bz}
		</if>
		<if test="jdh != null and jdh != '' ">
		 and t.jdh = #{jdh}
		</if>
		<if test="sjc != null and sjc != '' ">
		 and t.sjc = #{sjc}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and t.reserve4 = #{reserve4}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.uuid uuid,
		t.gsmc gsmc,
		t.gslb gslb,
		t.gssm gssm,
		t.jsgs jsgs,
		t.jsgsdw jsgsdw,
		t.sfqy sfqy,
		t.cjrid cjrid,
		t.cjrmc cjrmc,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.xgrid xgrid,
		t.xgrmc xgrmc,
		TO_CHAR(t.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		t.delete_flag deleteFlag,
		t.datasource datasource,
		t.bz bz,
		t.jdh jdh,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="FirecalculationlistVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM ZHJC_JSGS t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="FirecalculationlistVO"  resultType="FirecalculationlistVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM ZHJC_JSGS t  WHERE t.DELETE_FLAG = 'N' 
			<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据UUID查询参数记录-->
	<select id="doFindById" parameterType="FirecalculationlistVO"  resultType="FirecalculationlistVO">  
		SELECT
		h.CSMC csmc
		/*,h.CSLX*/
		,h.JLDWDM jldw
		,h.MRZ mrz
		/*,m.CODEID
		,p.CODE_NAME cslxmc*/
		,h.GSID
		FROM ZHJC_JSGS_CS h
		/*LEFT JOIN (select GSID,CSMC,JLDWDM,MRZ from ZHJC_JSGS_CS where delete_flag = 'N') h
		ON t.uuid = h.GSID*/
		/*LEFT JOIN SYS_CODELIST m
		ON m.CODETYPE = 'CSLX'
		LEFT JOIN SYS_CODELIST_DETAIL p
		ON m.CODEID = p.CODEID AND h.CSLX = p.CODE_VALUE*/
		WHERE h.DELETE_FLAG = 'N' AND  h.gsid = #{value}
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="FirecalculationlistVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="uuid">
			SELECT SYS_GUID() AS uuid FROM DUAL
		</selectKey>
		INSERT INTO ZHJC_JSGS(uuid,gsmc,gslb,gssm,jsgs,jsgsdw,sfqy,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		VALUES(#{uuid,jdbcType=VARCHAR},#{gsmc,jdbcType=VARCHAR},#{gslb,jdbcType=VARCHAR},#{gssm,jdbcType=VARCHAR},#{jsgs,jdbcType=VARCHAR},#{jsgsdw,jdbcType=VARCHAR},#{sfqy,jdbcType=VARCHAR},#{cjrid,jdbcType=VARCHAR},#{cjrmc,jdbcType=VARCHAR},#{cjsj,jdbcType=DATE},#{xgrid,jdbcType=VARCHAR},#{xgrmc,jdbcType=VARCHAR},#{xgsj,jdbcType=DATE},'N',#{datasource,jdbcType=VARCHAR},#{bz,jdbcType=VARCHAR},#{jdh,jdbcType=VARCHAR},#{sjc,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO ZHJC_JSGS(uuid,gsmc,gslb,gssm,jsgs,jsgsdw,sfqy,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		SELECT SYS_GUID() pkid, A.* 
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.gsmc,jdbcType=VARCHAR} gsmc,#{item.gslb,jdbcType=VARCHAR} gslb,#{item.gssm,jdbcType=VARCHAR} gssm,#{item.jsgs,jdbcType=VARCHAR} jsgs,#{item.jsgsdw,jdbcType=VARCHAR} jsgsdw,#{item.sfqy,jdbcType=VARCHAR} sfqy,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,'N' delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.bz,jdbcType=VARCHAR} bz,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  ZHJC_JSGS t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.uuid = #{value}
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="FirecalculationlistVO"> 
		UPDATE   ZHJC_JSGS  
		<set>
			<if test="uuid != null">uuid=#{uuid},</if>
			<if test="gsmc != null">gsmc=#{gsmc},</if>
			<if test="gslb != null">gslb=#{gslb},</if>
			<if test="gssm != null">gssm=#{gssm},</if>
			<if test="jsgs != null">jsgs=#{jsgs},</if>
			<if test="jsgsdw != null">jsgsdw=#{jsgsdw},</if>
			<if test="sfqy != null">sfqy=#{sfqy},</if>
			<if test="cjrid != null">cjrid=#{cjrid},</if>
			<if test="cjrmc != null">cjrmc=#{cjrmc},</if>
			<if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="xgrid != null">xgrid=#{xgrid},</if>
			<if test="xgrmc != null">xgrmc=#{xgrmc},</if>
			<if test="xgsj != null">xgsj=TO_DATE(#{xgsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="deleteFlag != null">delete_flag='N',</if>
			<if test="datasource != null">datasource=#{datasource},</if>
			<if test="bz != null">bz=#{bz},</if>
			<if test="jdh != null">jdh=#{jdh},</if>
			<if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  UUID = #{uuid}
	</update>

	<!--10.批量修改-->
	<update id="doUpdateCsByVO" parameterType="FirecalculationparamVO"> 
		UPDATE   ZHJC_JSGS_CS
		<set>
			<if test="gsid != null">gsid='2'/*#{gsid}*/,</if>
			<!--<if test="csmc != null">csmc=#{csmc},</if>-->
			<!--<if test="cslxdm != null">cslxdm=#{cslxdm},</if>-->
			<!--<if test="jldwdm != null">jldwdm=#{jldwdm},</if>-->
			<!--<if test="mrz != null">mrz=#{mrz},</if>-->
			<!--<if test="sxh != null">sxh=#{sxh},</if>-->
			<!--<if test="cjrid != null">cjrid=#{cjrid},</if>-->
			<!--<if test="cjrmc != null">cjrmc=#{cjrmc},</if>-->
			<!--<if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>-->
			<!--<if test="xgrid != null">xgrid=#{xgrid},</if>-->
			<!--<if test="xgrmc != null">xgrmc=#{xgrmc},</if>-->
			<!--<if test="xgsj != null">xgsj=TO_DATE(#{xgsj},'yyyy-MM-dd HH24:mi:ss'),</if>-->
			<!--<if test="deleteFlag != null">delete_flag='N',</if>-->
			<!--<if test="datasource != null">datasource=#{datasource},</if>-->
			<!--<if test="bz != null">bz=#{bz},</if>-->
			<!--<if test="jdh != null">jdh=#{jdh},</if>-->
			<!--<if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>-->
			<!--<if test="reserve1 != null">reserve1=#{reserve1},</if>-->
			<!--<if test="reserve2 != null">reserve2=#{reserve2},</if>-->
			<!--<if test="reserve3 != null">reserve3=#{reserve3},</if>-->
			<!--<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>-->
		</set>
		WHERE  UUID = #{uuid}
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="FirecalculationlistVO"  resultType="FirecalculationlistVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM ZHJC_JSGS t 
		WHERE t.DELETE_FLAG = 'N' 
		<include refid="SQL_CONDITION"/>
	</select>

	<!--12.列表页条件查询记录-->
	<select id="doSearchByVO" parameterType="FirecalculationlistVO"  resultType="FirecalculationlistVO">
		SELECT
		<include refid="SQL_CONTENT"/>
		,p.CODE_NAME lbmc
		,f.CODEID
		FROM ZHJC_JSGS t
		LEFT JOIN SYS_CODELIST f
		ON f.CODETYPE = 'GSLB'
		LEFT JOIN SYS_CODELIST_DETAIL p
		ON f.CODEID= p.CODEID AND t.GSLB = p.CODE_VALUE
		WHERE t.DELETE_FLAG = 'N'
		<if test="gsmc != null and gsmc != '' ">
			and t.gsmc LIKE concat(concat('%',#{gsmc}),'%')
		</if>
		<if test="gslb != null and gslb != '' ">
			and t.gslb = #{gslb}
		</if>
		<if test="sfqy != null and sfqy != '' ">
			and t.sfqy = #{sfqy}
		</if>
	</select>

	<!--13.根据UUID查询参数记录-->
	<select id="doFindCsById" parameterType="FirecalculationparamVO"  resultType="FirecalculationparamVO">
		SELECT
		h.UUID uuid
		,h.CSMC csmc
		,h.JLDWDM jldwdm
		,h.MRZ mrz
		,h.GSID gsid
		,h.SXH sxh
		FROM ZHJC_JSGS_CS h
		WHERE h.DELETE_FLAG = 'N' AND  h.gsid = #{value}
	</select>

	<!--14.新增公式时批量插入参数-->
	<insert  id="doInsertCsByVO">
		INSERT INTO ZHJC_JSGS_CS(uuid,gsid,csmc,cslxdm,jldwdm,mrz,sxh,cjrid,cjrmc,cjsj,delete_flag)
		SELECT SYS_GUID() uuid, A.*
		FROM (
		<foreach collection="params" item="item" index="index" separator="UNION ALL" >
			SELECT
			#{gsid,jdbcType=VARCHAR} gsid,#{item.csmc,jdbcType=VARCHAR} csmc,#{item.cslxdm,jdbcType=VARCHAR} cslxdm,#{item.jldwdm,jdbcType=VARCHAR} jldwdm,#{item.mrz,jdbcType=VARCHAR} mrz,#{item.sxh,jdbcType=VARCHAR} sxh,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,SYSDATE cjsj,'N' delete_flag
			FROM DUAL
		</foreach>
		) A
	</insert>



	<!--16.删除公式时删除公式参数-->
	<update id="doDeleteJsgsCsBatch"  parameterType="String">
		UPDATE ZHJC_JSGS_CS t SET t.DELETE_FLAG = 'Y' WHERE 1=1 AND t.GSID = #{value}
	</update>
</mapper>
