<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.basicinfo.firedrugsource.FiredrugDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="uuid != null and uuid != '' ">
		 and f.uuid = #{uuid}
		</if>
		<if test="yjbm != null and yjbm != '' ">
		 and f.yjbm = #{yjbm}
		</if>
		<if test="yjmc != null and yjmc != '' ">
		 and f.yjmc = #{yjmc}
		</if>
		<if test="ssdz != null and ssdz != '' ">
		 and f.ssdz = #{ssdz}
		</if>
		<if test="ssdzmc != null and ssdzmc != '' ">
		 and f.ssdzmc = #{ssdzmc}
		</if>
		<if test="xzqy != null and xzqy != '' ">
		 and f.xzqy = #{xzqy}
		</if>
		<if test="yjlx != null and yjlx != '' ">
		 and f.yjlx = #{yjlx}
		</if>
		<if test="sccj != null and sccj != '' ">
		 and f.sccj = #{sccj}
		</if>
		<if test="pc != null and pc != '' ">
		 and f.pc = #{pc}
		</if>
		<if test="cbl != null and cbl != '' ">
		 and f.cbl = #{cbl}
		</if>
		<if test="czl != null and czl != '' ">
		 and f.czl = #{czl}
		</if>
		<if test="cjrid != null and cjrid != '' ">
		 and f.cjrid = #{cjrid}
		</if>
		<if test="cjrmc != null and cjrmc != '' ">
		 and f.cjrmc = #{cjrmc}
		</if>
		<if test="cjsj != null and cjsj != '' ">
		 and f.cjsj = #{cjsj}
		</if>
		<if test="xgrid != null and xgrid != '' ">
		 and f.xgrid = #{xgrid}
		</if>
		<if test="xgrmc != null and xgrmc != '' ">
		 and f.xgrmc = #{xgrmc}
		</if>
		<if test="xgsj != null and xgsj != '' ">
		 and f.xgsj = #{xgsj}
		</if>
		<if test="deleteFlag != null and deleteFlag != '' ">
		 and f.delete_flag = #{deleteFlag}
		</if>
		<if test="datasource != null and datasource != '' ">
		 and f.datasource = #{datasource}
		</if>
		<if test="bz != null and bz != '' ">
		 and f.bz = #{bz}
		</if>
		<if test="jdh != null and jdh != '' ">
		 and f.jdh = #{jdh}
		</if>
		<if test="sjc != null and sjc != '' ">
		 and f.sjc = #{sjc}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and f.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and f.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and f.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and f.reserve4 = #{reserve4}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		f.uuid uuid,
		f.yjbm yjbm,
		f.yjmc yjmc,
		f.ssdz ssdz,
		f.ssdzmc ssdzmc,
		f.xzqy xzqy,
		f.yjlx yjlx,
		f.sccj sccj,
		f.pc pc,
		f.cbl cbl,
		f.czl czl,
		f.cjrid cjrid,
		f.cjrmc cjrmc,
		TO_CHAR(f.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		f.xgrid xgrid,
		f.xgrmc xgrmc,
		TO_CHAR(f.xgsj,'yyyy-MM-dd HH24:mi:ss') xgsj,
		f.delete_flag deleteFlag,
		f.datasource datasource,
		f.bz bz,
		f.jdh jdh,
		TO_CHAR(f.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		f.reserve1 reserve1,
		f.reserve2 reserve2,
		f.reserve3 reserve3,
		TO_CHAR(f.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="FiredrugVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM YAGL_WL_XFYJXX f WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="FiredrugVO"  resultType="FiredrugVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM YAGL_WL_XFYJXX f  WHERE f.DELETE_FLAG = 'N' 
			<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="FiredrugVO"  resultType="FiredrugVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM YAGL_WL_XFYJXX f 
		WHERE f.DELETE_FLAG = 'N' AND  f.PKID = #{value} 
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="FiredrugVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="pkid">
			SELECT SYS_GUID() AS pkid FROM DUAL
		</selectKey>
		INSERT INTO YAGL_WL_XFYJXX(uuid,yjbm,yjmc,ssdz,ssdzmc,xzqy,yjlx,sccj,pc,cbl,czl,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		VALUES(#{uuid,jdbcType=VARCHAR},#{yjbm,jdbcType=VARCHAR},#{yjmc,jdbcType=VARCHAR},#{ssdz,jdbcType=VARCHAR},#{ssdzmc,jdbcType=VARCHAR},#{xzqy,jdbcType=VARCHAR},#{yjlx,jdbcType=DOUBLE},#{sccj,jdbcType=VARCHAR},#{pc,jdbcType=VARCHAR},#{cbl,jdbcType=DOUBLE},#{czl,jdbcType=DOUBLE},#{cjrid,jdbcType=VARCHAR},#{cjrmc,jdbcType=VARCHAR},#{cjsj,jdbcType=DATE},#{xgrid,jdbcType=VARCHAR},#{xgrmc,jdbcType=VARCHAR},#{xgsj,jdbcType=DATE},'N',#{datasource,jdbcType=VARCHAR},#{bz,jdbcType=VARCHAR},#{jdh,jdbcType=VARCHAR},#{sjc,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO YAGL_WL_XFYJXX(uuid,yjbm,yjmc,ssdz,ssdzmc,xzqy,yjlx,sccj,pc,cbl,czl,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		SELECT SYS_GUID() pkid, A.* 
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.yjbm,jdbcType=VARCHAR} yjbm,#{item.yjmc,jdbcType=VARCHAR} yjmc,#{item.ssdz,jdbcType=VARCHAR} ssdz,#{item.ssdzmc,jdbcType=VARCHAR} ssdzmc,#{item.xzqy,jdbcType=VARCHAR} xzqy,#{item.yjlx,jdbcType=DOUBLE} yjlx,#{item.sccj,jdbcType=VARCHAR} sccj,#{item.pc,jdbcType=VARCHAR} pc,#{item.cbl,jdbcType=DOUBLE} cbl,#{item.czl,jdbcType=DOUBLE} czl,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,'N' delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.bz,jdbcType=VARCHAR} bz,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  YAGL_WL_XFYJXX f SET f.DELETE_FLAG = 'Y'  WHERE 1=1   AND f.PKID = #{value} 
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="FiredrugVO"> 
		UPDATE   YAGL_WL_XFYJXX  
		<set>
			<if test="uuid != null">uuid=#{uuid},</if>
			<if test="yjbm != null">yjbm=#{yjbm},</if>
			<if test="yjmc != null">yjmc=#{yjmc},</if>
			<if test="ssdz != null">ssdz=#{ssdz},</if>
			<if test="ssdzmc != null">ssdzmc=#{ssdzmc},</if>
			<if test="xzqy != null">xzqy=#{xzqy},</if>
			<if test="yjlx != null">yjlx=#{yjlx},</if>
			<if test="sccj != null">sccj=#{sccj},</if>
			<if test="pc != null">pc=#{pc},</if>
			<if test="cbl != null">cbl=#{cbl},</if>
			<if test="czl != null">czl=#{czl},</if>
			<if test="cjrid != null">cjrid=#{cjrid},</if>
			<if test="cjrmc != null">cjrmc=#{cjrmc},</if>
			<if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="xgrid != null">xgrid=#{xgrid},</if>
			<if test="xgrmc != null">xgrmc=#{xgrmc},</if>
			<if test="xgsj != null">xgsj=TO_DATE(#{xgsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="deleteFlag != null">delete_flag='N',</if>
			<if test="datasource != null">datasource=#{datasource},</if>
			<if test="bz != null">bz=#{bz},</if>
			<if test="jdh != null">jdh=#{jdh},</if>
			<if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  PKID = #{pkid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO YAGL_WL_XFYJXX(uuid,yjbm,yjmc,ssdz,ssdzmc,xzqy,yjlx,sccj,pc,cbl,czl,cjrid,cjrmc,cjsj,xgrid,xgrmc,xgsj,delete_flag,datasource,bz,jdh,sjc,reserve1,reserve2,reserve3,reserve4)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.yjbm,jdbcType=VARCHAR} yjbm,#{item.yjmc,jdbcType=VARCHAR} yjmc,#{item.ssdz,jdbcType=VARCHAR} ssdz,#{item.ssdzmc,jdbcType=VARCHAR} ssdzmc,#{item.xzqy,jdbcType=VARCHAR} xzqy,#{item.yjlx,jdbcType=DOUBLE} yjlx,#{item.sccj,jdbcType=VARCHAR} sccj,#{item.pc,jdbcType=VARCHAR} pc,#{item.cbl,jdbcType=DOUBLE} cbl,#{item.czl,jdbcType=DOUBLE} czl,#{item.cjrid,jdbcType=VARCHAR} cjrid,#{item.cjrmc,jdbcType=VARCHAR} cjrmc,#{item.cjsj,jdbcType=DATE} cjsj,#{item.xgrid,jdbcType=VARCHAR} xgrid,#{item.xgrmc,jdbcType=VARCHAR} xgrmc,#{item.xgsj,jdbcType=DATE} xgsj,'N' delete_flag,#{item.datasource,jdbcType=VARCHAR} datasource,#{item.bz,jdbcType=VARCHAR} bz,#{item.jdh,jdbcType=VARCHAR} jdh,#{item.sjc,jdbcType=DATE} sjc,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		</foreach>
		ON DUPLICATE KEY UPDATE   
			uuid = VALUES(uuid),
			yjbm = VALUES(yjbm),
			yjmc = VALUES(yjmc),
			ssdz = VALUES(ssdz),
			ssdzmc = VALUES(ssdzmc),
			xzqy = VALUES(xzqy),
			yjlx = VALUES(yjlx),
			sccj = VALUES(sccj),
			pc = VALUES(pc),
			cbl = VALUES(cbl),
			czl = VALUES(czl),
			cjrid = VALUES(cjrid),
			cjrmc = VALUES(cjrmc),
			cjsj = VALUES(cjsj),
			xgrid = VALUES(xgrid),
			xgrmc = VALUES(xgrmc),
			xgsj = VALUES(xgsj),
			delete_flag = VALUES(delete_flag),
			datasource = VALUES(datasource),
			bz = VALUES(bz),
			jdh = VALUES(jdh),
			sjc = VALUES(sjc),
			reserve1 = VALUES(reserve1),
			reserve2 = VALUES(reserve2),
			reserve3 = VALUES(reserve3),
			reserve4 = VALUES(reserve4)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="FiredrugVO"  resultType="FiredrugVO">
		SELECT
		<include refid="SQL_CONTENT"/>
		FROM YAGL_WL_XFYJXX f
		WHERE f.DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--12.根据对象查询记录-->
	<select id="doSearchByVO" parameterType="FiredrugVO"  resultType="FiredrugVO">
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM YAGL_WL_XFYJXX f 
		WHERE f.DELETE_FLAG = 'N'
		<!--<if test="ssdz != null and ssdz != '' ">-->
			<!--and f.ssdz = #{ssdz}-->
		<!--</if>-->
		<!--<if test="yjlx != null and yjlx != '' ">-->
			<!--and f.yjlx = #{yjlx}-->
		<!--</if>-->
		<!--<if test="cbl_min != null and cbl_min != '' ">-->
			<!--and f.cbl &gt;= #{cbl_min}-->
		<!--</if>-->
		<!--<if test="cbl_max != null and cbl_max != '' ">-->
			<!--and f.cbl &lt;= #{cbl_max}-->
		<!--</if>-->
		<!--<if test="czl_min != null and czl_min != '' ">-->
			<!--and f.czl &gt;= #{czl_min}-->
		<!--</if>-->
		<!--<if test="czl_max != null and czl_max != '' ">-->
			<!--and f.czl &lt;= #{czl_max}-->
		<!--</if>-->
	</select>

</mapper>
