<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.bigscreen.map.MapDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="uuid != null and uuid != '' ">
		 and t.uuid = #{uuid}
		</if>
		<if test="rq != null and rq != '' ">
		 and t.rq = #{rq}
		</if>
		<if test="xzqh != null and xzqh != '' ">
		 and t.xzqh = #{xzqh}
		</if>
		<if test="xzqhmc != null and xzqhmc != '' ">
		 and t.xzqhmc = #{xzqhmc}
		</if>
		<if test="gisX != null and gisX != '' ">
		 and t.gis_x = #{gisX}
		</if>
		<if test="gisY != null and gisY != '' ">
		 and t.gis_y = #{gisY}
		</if>
		<if test="zddwsl != null and zddwsl != '' ">
		 and t.zddwsl = #{zddwsl}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
		<if test="reserve4 != null and reserve4 != '' ">
		 and t.reserve4 = #{reserve4}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.uuid uuid,
		t.rq rq,
		t.xzqh xzqh,
		t.xzqhmc xzqhmc,
		t.gis_x gisX,
		t.gis_y gisY,
		t.zddwsl zddwsl,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="MapVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM T_MAP_ZDDW t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="MapVO"  resultType="MapVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM T_MAP_ZDDW t  WHERE 1=1
			<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="MapVO"  resultType="MapVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM T_MAP_ZDDW t 
		WHERE t.DELETE_FLAG = 'N' AND  t.uuid = #{value}
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="MapVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="uuid">
			SELECT SYS_GUID() AS uuid FROM DUAL
		</selectKey>
		INSERT INTO T_MAP_ZDDW(uuid,rq,xzqh,xzqhmc,gis_x,gis_y,zddwsl,reserve1,reserve2,reserve3,reserve4)
		VALUES(#{uuid,jdbcType=VARCHAR},#{rq,jdbcType=VARCHAR},#{xzqh,jdbcType=VARCHAR},#{xzqhmc,jdbcType=VARCHAR},#{gisX,jdbcType=DOUBLE},#{gisY,jdbcType=DOUBLE},#{zddwsl,jdbcType=DOUBLE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=VARCHAR},#{reserve4,jdbcType=DATE})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO T_MAP_ZDDW(uuid,rq,xzqh,xzqhmc,gis_x,gis_y,zddwsl,reserve1,reserve2,reserve3,reserve4)
		SELECT SYS_GUID() uuid, A.*
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.rq,jdbcType=VARCHAR} rq,#{item.xzqh,jdbcType=VARCHAR} xzqh,#{item.xzqhmc,jdbcType=VARCHAR} xzqhmc,#{item.gisX,jdbcType=DOUBLE} gis_x,#{item.gisY,jdbcType=DOUBLE} gis_y,#{item.zddwsl,jdbcType=DOUBLE} zddwsl,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  T_MAP_ZDDW t SET t.DELETE_FLAG = 'Y'  WHERE 1=1   AND t.uuid = #{value}
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="MapVO"> 
		UPDATE   T_MAP_ZDDW  
		<set>
			<if test="uuid != null">uuid=#{uuid},</if>
			<if test="rq != null">rq=#{rq},</if>
			<if test="xzqh != null">xzqh=#{xzqh},</if>
			<if test="xzqhmc != null">xzqhmc=#{xzqhmc},</if>
			<if test="gisX != null">gis_x=#{gisX},</if>
			<if test="gisY != null">gis_y=#{gisY},</if>
			<if test="zddwsl != null">zddwsl=#{zddwsl},</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=#{reserve3},</if>
			<if test="reserve4 != null">reserve4=TO_DATE(#{reserve4},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  uuid = #{uuid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO T_MAP_ZDDW(uuid,rq,xzqh,xzqhmc,gis_x,gis_y,zddwsl,reserve1,reserve2,reserve3,reserve4)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.uuid,jdbcType=VARCHAR} uuid,#{item.rq,jdbcType=VARCHAR} rq,#{item.xzqh,jdbcType=VARCHAR} xzqh,#{item.xzqhmc,jdbcType=VARCHAR} xzqhmc,#{item.gisX,jdbcType=DOUBLE} gis_x,#{item.gisY,jdbcType=DOUBLE} gis_y,#{item.zddwsl,jdbcType=DOUBLE} zddwsl,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=VARCHAR} reserve3,#{item.reserve4,jdbcType=DATE} reserve4
		</foreach>
		ON DUPLICATE KEY UPDATE   
			uuid = VALUES(uuid),
			rq = VALUES(rq),
			xzqh = VALUES(xzqh),
			xzqhmc = VALUES(xzqhmc),
			gis_x = VALUES(gis_x),
			gis_y = VALUES(gis_y),
			zddwsl = VALUES(zddwsl),
			reserve1 = VALUES(reserve1),
			reserve2 = VALUES(reserve2),
			reserve3 = VALUES(reserve3),
			reserve4 = VALUES(reserve4)
	</update>


	<!--12.获取各省重点单位数量-->
	<select id="getMapByVO" parameterType="MapVO"  resultType="MapVO">
		SELECT
		t.xzqh xzqh,
		t.dzjc xzqhmc,
		t.gis_x gisX,
		t.gis_y gisY,
		t.zddwsl zddwsl
		FROM T_MAP_ZDDW t
		WHERE 1=1
		and t.dzlx = '0200'
-- 		and t.xzqh like '%0000'
		and t.rq = (select max(rq) from t_map_zddw)
		order by xzqh
		--and t.xzqh like '%0000'
-- 		and t.rq like substr(sysdate,0,10)
	</select>

	<!--13.获取各市重点单位数量-->
	<select id="getShiMapByVO" parameterType="MapVO"  resultType="MapVO">
		SELECT
		t.xzqh xzqh,
		t.dzjc xzqhmc,
		t.gis_x gisX,
		t.gis_y gisY,
		t.zddwsl zddwsl
		FROM T_MAP_ZDDW t
		WHERE 1=1
		and t.dzlx = '0300'
		and t.xzqh like concat(substr(#{xzqh},0,2),'%')
		and t.rq = (select max(rq) from t_map_zddw)
		order by xzqh
-- 		and t.xzqh not like '%0000'
-- 		and t.rq like substr(sysdate,0,10)
	</select>

	<!--14.获取数量-->
	<select id="getImportantunitsVO" parameterType="MapVO"  resultType="MapVO">
		SELECT
		 t.uuid,
		 t.dwmc dwmc,
		 t.dwdz dwdz,
		 t.xfzrr xfzrr,
		 t.zbdh zbdh,
		 t.xzqh,
		 t.GIS_X gisX,
		 t.GIS_Y gisY
		FROM YAGL_DX_ZDDW t
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'XZQH' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID
		and c2.DELETE_FLAG = 'N'
		and c2.code_value LIKE concat(substr(#{xzqh},0,2),'%')
		--and c2.code_value like '2101%'
		WHERE t.xzqh = c2.CODE_VALUE
		and t.delete_flag = 'N'
		order by t.xzqh,t.dwmc asc
	</select>

</mapper>
