<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.advancedsearch.SearchDAO">
	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.jzid jzid,
		t.jzmc jzmc,
		t.jzlx jzlx,
		t.jzwz jzwz,
		t.lon lon,
		t.lat lat,
		t.xqxclx xqxclx,
		t.yjddsc yjddsc,
		t.delete_flag deleteFlag,
		t.datasource datasource,
		t.bz bz,
		t.jdh jdh,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		t.reserve3 reserve3,
		TO_CHAR(t.reserve4,'yyyy-MM-dd HH24:mi:ss') reserve4
	</sql>
    <!--高级搜索 初始化列表-->
	<select id="doSearchGjssListByVO" parameterType="BuildingVO"  resultType="BuildingVO">
		SELECT
		<include refid="SQL_CONTENT"/>,
		c2.code_name jzlxmc
		FROM YAGL_DWJZXX t
		<!--建筑分区类型关联代码集-->
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
		WHERE t.DELETE_FLAG = 'N'
		<if test="jzmc != null and jzmc != '' ">
			AND
            (t.jzmc LIKE concat(concat('%',#{jzmc}),'%') OR t.jzwz LIKE concat(concat('%',#{jzmc}),'%'))
		</if>
	</select>

    <!--高级搜索 建筑类-->
	<select id="doSearchGjssJzlListByVO" parameterType="BuildingVO"  resultType="BuildingVO">
		SELECT
		<include refid="SQL_CONTENT"/>,
		c2.code_name jzlxmc
		FROM YAGL_DWJZXX t
		LEFT JOIN YAGL_DWJZXX_JZL t_jzl ON t.jzid = t_jzl.jzid AND t_jzl.DELETE_FLAG = 'N'
		<!--建筑分区类型关联代码集-->
		Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
		Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
		WHERE t.DELETE_FLAG = 'N'
		<if test="jzmc != null and jzmc != '' ">
			AND
            (t.jzmc LIKE concat(concat('%',#{jzmc}),'%') OR t.jzwz LIKE concat(concat('%',#{jzmc}),'%'))
		</if>
        <if test="jzlx != null and jzlx != '' ">
            AND t.jzlx = #{jzlx}
        </if>
		<if test="jzl_jzsyxz != null and jzl_jzsyxz != '' ">
			AND t_jzl.jzsyxz LIKE concat(#{jzl_jzsyxz},'%')
		</if>
		<if test="jzl_jzjg != null and jzl_jzjg != '' ">
			AND t_jzl.jzjg = #{jzl_jzjg}
		</if>
        <if test="jzl_dsgd_max != null and jzl_dsgd_max != '' ">
            AND t_jzl.dsgd &lt;= #{jzl_dsgd_max}
        </if>
        <if test="jzl_dsgd_min != null and jzl_dsgd_min != '' ">
            AND t_jzl.dsgd > #{jzl_dsgd_min}
        </if>
	</select>
    <!--高级搜索 装置类-->
    <select id="doSearchGjssZzlListByVO" parameterType="BuildingVO"  resultType="BuildingVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name jzlxmc
        FROM YAGL_DWJZXX t
        LEFT JOIN YAGL_DWJZXX_ZZL t_zzl ON t.jzid = t_zzl.jzid AND t_zzl.DELETE_FLAG = 'N'
        <!--建筑分区类型关联代码集-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N'
        <if test="jzmc != null and jzmc != '' ">
            AND
            (t.jzmc LIKE concat(concat('%',#{jzmc}),'%') OR t.jzwz LIKE concat(concat('%',#{jzmc}),'%'))
        </if>
        <if test="jzlx != null and jzlx != '' ">
            AND t.jzlx = #{jzlx}
        </if>
        <if test="zzl_jzjg != null and zzl_jzjg != '' ">
            AND t_zzl.jzjg = #{zzl_jzjg}
        </if>
    </select>
    <!--高级搜索 储罐类-->
    <select id="doSearchGjssCglListByVO" parameterType="BuildingVO"  resultType="BuildingVO">
        SELECT
        <include refid="SQL_CONTENT"/>,
        c2.code_name jzlxmc
        FROM YAGL_DWJZXX t
        LEFT JOIN YAGL_DWJZXX_CGL t_cgl ON t.jzid = t_cgl.jzid AND t_cgl.DELETE_FLAG = 'N'
        <!--建筑分区类型关联代码集-->
        Left Join SYS_CODELIST c1 on c1.CODETYPE = 'JZFL' And c1.DELETE_FLAG = 'N'
        Left Join SYS_CODELIST_DETAIL c2 On c1.CODEID = c2.CODEID And c2.DELETE_FLAG = 'N' and t.jzlx = c2.CODE_VALUE
        WHERE t.DELETE_FLAG = 'N'
        <if test="jzmc != null and jzmc != '' ">
            AND
            (t.jzmc LIKE concat(concat('%',#{jzmc}),'%') OR t.jzwz LIKE concat(concat('%',#{jzmc}),'%'))
        </if>
        <if test="jzlx != null and jzlx != '' ">
            AND t.jzlx = #{jzlx}
        </if>
    </select>
</mapper>
