<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.basicinfo.watersource.XfshDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="pkid != null and pkid != '' ">
		 and t.pkid = #{pkid}
		</if>
		<if test="id != null and id != '' ">
		 and t.id = #{id}
		</if>
		<if test="所属管网 != null and 所属管网 != '' ">
		 and t.所属管网 = #{所属管网}
		</if>
		<if test="管网直径 != null and 管网直径 != '' ">
		 and t.管网直径 = #{管网直径}
		</if>
		<if test="管网压力 != null and 管网压力 != '' ">
		 and t.管网压力 = #{管网压力}
		</if>
		<if test="水鹤高度 != null and 水鹤高度 != '' ">
		 and t.水鹤高度 = #{水鹤高度}
		</if>
		<if test="流量 != null and 流量 != '' ">
		 and t.流量 = #{流量}
		</if>
		<if test="进水管直径 != null and 进水管直径 != '' ">
		 and t.进水管直径 = #{进水管直径}
		</if>
		<if test="出水管直径 != null and 出水管直径 != '' ">
		 and t.出水管直径 = #{出水管直径}
		</if>
		<if test="加水车道 != null and 加水车道 != '' ">
		 and t.加水车道 = #{加水车道}
		</if>
		<if test="机构id != null and 机构id != '' ">
		 and t.机构id = #{机构id}
		</if>
		<if test="记录状态 != null and 记录状态 != '' ">
		 and t.记录状态 = #{记录状态}
		</if>
		<if test="传输状态 != null and 传输状态 != '' ">
		 and t.传输状态 = #{传输状态}
		</if>
		<if test="数据版本 != null and 数据版本 != '' ">
		 and t.数据版本 = #{数据版本}
		</if>
		<if test="创建时间 != null and 创建时间 != '' ">
		 and t.创建时间 = #{创建时间}
		</if>
		<if test="业务系统部署id != null and 业务系统部署id != '' ">
		 and t.业务系统部署id = #{业务系统部署id}
		</if>
		<if test="时间戳 != null and 时间戳 != '' ">
		 and t.时间戳 = #{时间戳}
		</if>
		<if test="备注 != null and 备注 != '' ">
		 and t.备注 = #{备注}
		</if>
		<if test="版本戳 != null and 版本戳 != '' ">
		 and t.版本戳 = #{版本戳}
		</if>
		<if test="tbjdh != null and tbjdh != '' ">
		 and t.tbjdh = #{tbjdh}
		</if>
		<if test="tbsjc != null and tbsjc != '' ">
		 and t.tbsjc = #{tbsjc}
		</if>
		<if test="reserve1 != null and reserve1 != '' ">
		 and t.reserve1 = #{reserve1}
		</if>
		<if test="reserve2 != null and reserve2 != '' ">
		 and t.reserve2 = #{reserve2}
		</if>
		<if test="reserve3 != null and reserve3 != '' ">
		 and t.reserve3 = #{reserve3}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.pkid pkid,
		t.id id,
		t.所属管网 所属管网,
		t.管网直径 管网直径,
		t.管网压力 管网压力,
		t.水鹤高度 水鹤高度,
		t.流量 流量,
		t.进水管直径 进水管直径,
		t.出水管直径 出水管直径,
		t.加水车道 加水车道,
		t.机构id 机构id,
		t.记录状态 记录状态,
		t.传输状态 传输状态,
		t.数据版本 数据版本,
		TO_CHAR(t.创建时间,'yyyy-MM-dd HH24:mi:ss') 创建时间,
		t.业务系统部署id 业务系统部署id,
		TO_CHAR(t.时间戳,'yyyy-MM-dd HH24:mi:ss') 时间戳,
		t.备注 备注,
		TO_CHAR(t.版本戳,'yyyy-MM-dd HH24:mi:ss') 版本戳,
		t.tbjdh tbjdh,
		TO_CHAR(t.tbsjc,'yyyy-MM-dd HH24:mi:ss') tbsjc,
		t.reserve1 reserve1,
		t.reserve2 reserve2,
		TO_CHAR(t.reserve3,'yyyy-MM-dd HH24:mi:ss') reserve3
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="XfshVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM SY_XFSHSXXX t WHERE 1=1 AND JLZT = 0
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="XfshVO"  resultType="XfshVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM SY_XFSHSXXX t  WHERE t.JLZT = 0
			<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="XfshVO"  resultType="XfshVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM SY_XFSHSXXX t 
		WHERE t.JLZT = 0 AND  t.ID = #{value}
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="XfshVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="pkid">
			SELECT SYS_GUID() AS pkid FROM DUAL
		</selectKey>
		INSERT INTO SY_XFSHSXXX(pkid,id,所属管网,管网直径,管网压力,水鹤高度,流量,进水管直径,出水管直径,加水车道,机构id,记录状态,传输状态,数据版本,创建时间,业务系统部署id,时间戳,备注,版本戳,tbjdh,tbsjc,reserve1,reserve2,reserve3)
		VALUES(#{pkid,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR},#{所属管网,jdbcType=VARCHAR},#{管网直径,jdbcType=DOUBLE},#{管网压力,jdbcType=DOUBLE},#{水鹤高度,jdbcType=DOUBLE},#{流量,jdbcType=DOUBLE},#{进水管直径,jdbcType=DOUBLE},#{出水管直径,jdbcType=DOUBLE},#{加水车道,jdbcType=VARCHAR},#{机构id,jdbcType=VARCHAR},#{记录状态,jdbcType=DOUBLE},#{传输状态,jdbcType=DOUBLE},#{数据版本,jdbcType=DOUBLE},#{创建时间,jdbcType=DATE},#{业务系统部署id,jdbcType=VARCHAR},#{时间戳,jdbcType=DATE},#{备注,jdbcType=VARCHAR},#{版本戳,jdbcType=DATE},#{tbjdh,jdbcType=VARCHAR},#{tbsjc,jdbcType=DATE},#{reserve1,jdbcType=VARCHAR},#{reserve2,jdbcType=VARCHAR},#{reserve3,jdbcType=DATE})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO SY_XFSHSXXX(pkid,id,所属管网,管网直径,管网压力,水鹤高度,流量,进水管直径,出水管直径,加水车道,机构id,记录状态,传输状态,数据版本,创建时间,业务系统部署id,时间戳,备注,版本戳,tbjdh,tbsjc,reserve1,reserve2,reserve3)
		SELECT SYS_GUID() pkid, A.* 
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.id,jdbcType=VARCHAR} id,#{item.所属管网,jdbcType=VARCHAR} 所属管网,#{item.管网直径,jdbcType=DOUBLE} 管网直径,#{item.管网压力,jdbcType=DOUBLE} 管网压力,#{item.水鹤高度,jdbcType=DOUBLE} 水鹤高度,#{item.流量,jdbcType=DOUBLE} 流量,#{item.进水管直径,jdbcType=DOUBLE} 进水管直径,#{item.出水管直径,jdbcType=DOUBLE} 出水管直径,#{item.加水车道,jdbcType=VARCHAR} 加水车道,#{item.机构id,jdbcType=VARCHAR} 机构id,#{item.记录状态,jdbcType=DOUBLE} 记录状态,#{item.传输状态,jdbcType=DOUBLE} 传输状态,#{item.数据版本,jdbcType=DOUBLE} 数据版本,#{item.创建时间,jdbcType=DATE} 创建时间,#{item.业务系统部署id,jdbcType=VARCHAR} 业务系统部署id,#{item.时间戳,jdbcType=DATE} 时间戳,#{item.备注,jdbcType=VARCHAR} 备注,#{item.版本戳,jdbcType=DATE} 版本戳,#{item.tbjdh,jdbcType=VARCHAR} tbjdh,#{item.tbsjc,jdbcType=DATE} tbsjc,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=DATE} reserve3
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  SY_XFSHSXXX t SET t.JLZT = 1  WHERE 1=1   AND t.ID = #{value}
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="XfshVO"> 
		UPDATE   SY_XFSHSXXX  
		<set>
			<if test="pkid != null">pkid=#{pkid},</if>
			<if test="id != null">id=#{id},</if>
			<if test="所属管网 != null">所属管网=#{所属管网},</if>
			<if test="管网直径 != null">管网直径=#{管网直径},</if>
			<if test="管网压力 != null">管网压力=#{管网压力},</if>
			<if test="水鹤高度 != null">水鹤高度=#{水鹤高度},</if>
			<if test="流量 != null">流量=#{流量},</if>
			<if test="进水管直径 != null">进水管直径=#{进水管直径},</if>
			<if test="出水管直径 != null">出水管直径=#{出水管直径},</if>
			<if test="加水车道 != null">加水车道=#{加水车道},</if>
			<if test="机构id != null">机构id=#{机构id},</if>
			<if test="记录状态 != null">记录状态=#{记录状态},</if>
			<if test="传输状态 != null">传输状态=#{传输状态},</if>
			<if test="数据版本 != null">数据版本=#{数据版本},</if>
			<if test="创建时间 != null">创建时间=TO_DATE(#{创建时间},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="业务系统部署id != null">业务系统部署id=#{业务系统部署id},</if>
			<if test="时间戳 != null">时间戳=TO_DATE(#{时间戳},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="备注 != null">备注=#{备注},</if>
			<if test="版本戳 != null">版本戳=TO_DATE(#{版本戳},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="tbjdh != null">tbjdh=#{tbjdh},</if>
			<if test="tbsjc != null">tbsjc=TO_DATE(#{tbsjc},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="reserve1 != null">reserve1=#{reserve1},</if>
			<if test="reserve2 != null">reserve2=#{reserve2},</if>
			<if test="reserve3 != null">reserve3=TO_DATE(#{reserve3},'yyyy-MM-dd HH24:mi:ss')</if>
		</set>
		WHERE  PKID = #{pkid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO SY_XFSHSXXX(pkid,id,所属管网,管网直径,管网压力,水鹤高度,流量,进水管直径,出水管直径,加水车道,机构id,记录状态,传输状态,数据版本,创建时间,业务系统部署id,时间戳,备注,版本戳,tbjdh,tbsjc,reserve1,reserve2,reserve3)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.id,jdbcType=VARCHAR} id,#{item.所属管网,jdbcType=VARCHAR} 所属管网,#{item.管网直径,jdbcType=DOUBLE} 管网直径,#{item.管网压力,jdbcType=DOUBLE} 管网压力,#{item.水鹤高度,jdbcType=DOUBLE} 水鹤高度,#{item.流量,jdbcType=DOUBLE} 流量,#{item.进水管直径,jdbcType=DOUBLE} 进水管直径,#{item.出水管直径,jdbcType=DOUBLE} 出水管直径,#{item.加水车道,jdbcType=VARCHAR} 加水车道,#{item.机构id,jdbcType=VARCHAR} 机构id,#{item.记录状态,jdbcType=DOUBLE} 记录状态,#{item.传输状态,jdbcType=DOUBLE} 传输状态,#{item.数据版本,jdbcType=DOUBLE} 数据版本,#{item.创建时间,jdbcType=DATE} 创建时间,#{item.业务系统部署id,jdbcType=VARCHAR} 业务系统部署id,#{item.时间戳,jdbcType=DATE} 时间戳,#{item.备注,jdbcType=VARCHAR} 备注,#{item.版本戳,jdbcType=DATE} 版本戳,#{item.tbjdh,jdbcType=VARCHAR} tbjdh,#{item.tbsjc,jdbcType=DATE} tbsjc,#{item.reserve1,jdbcType=VARCHAR} reserve1,#{item.reserve2,jdbcType=VARCHAR} reserve2,#{item.reserve3,jdbcType=DATE} reserve3
		</foreach>
		ON DUPLICATE KEY UPDATE   
			pkid = VALUES(pkid),
			id = VALUES(id),
			所属管网 = VALUES(所属管网),
			管网直径 = VALUES(管网直径),
			管网压力 = VALUES(管网压力),
			水鹤高度 = VALUES(水鹤高度),
			流量 = VALUES(流量),
			进水管直径 = VALUES(进水管直径),
			出水管直径 = VALUES(出水管直径),
			加水车道 = VALUES(加水车道),
			机构id = VALUES(机构id),
			记录状态 = VALUES(记录状态),
			传输状态 = VALUES(传输状态),
			数据版本 = VALUES(数据版本),
			创建时间 = VALUES(创建时间),
			业务系统部署id = VALUES(业务系统部署id),
			时间戳 = VALUES(时间戳),
			备注 = VALUES(备注),
			版本戳 = VALUES(版本戳),
			tbjdh = VALUES(tbjdh),
			tbsjc = VALUES(tbsjc),
			reserve1 = VALUES(reserve1),
			reserve2 = VALUES(reserve2),
			reserve3 = VALUES(reserve3)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="XfshVO"  resultType="XfshVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM SY_XFSHSXXX t 
		WHERE t.JLZT = 0
		<include refid="SQL_CONDITION"/>
	</select>

</mapper>
