<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfri.digitalplan.dao.yafjxz.YafjxzDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="id != null and id != '' ">
		 and t.id = #{id}
		</if>
		<if test="yaid != null and yaid != '' ">
		 and t.yaid = #{yaid}
		</if>
		<if test="dir != null and dir != '' ">
		 and t.dir = #{dir}
		</if>
		<if test="relname != null and relname != '' ">
		 and t.relname = #{relname}
		</if>
		<if test="extension != null and extension != '' ">
		 and t.extension = #{extension}
		</if>
		<if test="enabled != null and enabled != '' ">
		 and t.enabled = #{enabled}
		</if>
		<if test="remark != null and remark != '' ">
		 and t.remark = #{remark}
		</if>
		<if test="czyid != null and czyid != '' ">
		 and t.czyid = #{czyid}
		</if>
		<if test="czyxm != null and czyxm != '' ">
		 and t.czyxm = #{czyxm}
		</if>
		<if test="jlzt != null and jlzt != '' ">
		 and t.jlzt = #{jlzt}
		</if>
		<if test="cszt != null and cszt != '' ">
		 and t.cszt = #{cszt}
		</if>
		<if test="sjc != null and sjc != '' ">
		 and t.sjc = #{sjc}
		</if>
		<if test="bz != null and bz != '' ">
		 and t.bz = #{bz}
		</if>
		<if test="jgid != null and jgid != '' ">
		 and t.jgid = #{jgid}
		</if>
		<if test="sjbb != null and sjbb != '' ">
		 and t.sjbb = #{sjbb}
		</if>
		<if test="cjsj != null and cjsj != '' ">
		 and t.cjsj = #{cjsj}
		</if>
		<if test="ywxtbsid != null and ywxtbsid != '' ">
		 and t.ywxtbsid = #{ywxtbsid}
		</if>
		<if test="vercol != null and vercol != '' ">
		 and t.vercol = #{vercol}
		</if>
		<if test="tbjdh != null and tbjdh != '' ">
		 and t.tbjdh = #{tbjdh}
		</if>
		<if test="tbsjc != null and tbsjc != '' ">
		 and t.tbsjc = #{tbsjc}
		</if>
		<if test="byzda != null and byzda != '' ">
		 and t.byzda = #{byzda}
		</if>
		<if test="byzdb != null and byzdb != '' ">
		 and t.byzdb = #{byzdb}
		</if>
		<if test="byzdc != null and byzdc != '' ">
		 and t.byzdc = #{byzdc}
		</if>
		<if test="byzdd != null and byzdd != '' ">
		 and t.byzdd = #{byzdd}
		</if>
		<if test="pkid != null and pkid != '' ">
		 and t.pkid = #{pkid}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		t.id id,
		t.yaid yaid,
		t.dir dir,
		t.relname relname,
		t.extension extension,
		t.enabled enabled,
		t.remark remark,
		t.czyid czyid,
		t.czyxm czyxm,
		t.jlzt jlzt,
		t.cszt cszt,
		TO_CHAR(t.sjc,'yyyy-MM-dd HH24:mi:ss') sjc,
		t.bz bz,
		t.jgid jgid,
		t.sjbb sjbb,
		TO_CHAR(t.cjsj,'yyyy-MM-dd HH24:mi:ss') cjsj,
		t.ywxtbsid ywxtbsid,
		TO_CHAR(t.vercol,'yyyy-MM-dd HH24:mi:ss') vercol,
		t.tbjdh tbjdh,
		TO_CHAR(t.tbsjc,'yyyy-MM-dd HH24:mi:ss') tbsjc,
		t.byzda byzda,
		t.byzdb byzdb,
		t.byzdc byzdc,
		t.byzdd byzdd,
		t.pkid pkid
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="YafjxzVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS NUM FROM YAGL_YAFJXZ t WHERE 1=1 AND DELETE_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="YafjxzVO"  resultType="YafjxzVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM YAGL_YAFJXZ t  WHERE t.JLZT = '1' 
			<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="YafjxzVO"  resultType="YafjxzVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM YAGL_YAFJXZ t 
		WHERE t.JLZT = '1' AND  t.PKID = #{value} 
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="YafjxzVO"> 
		<selectKey resultType="String" order="BEFORE" keyProperty="pkid">
			SELECT SYS_GUID() AS pkid FROM DUAL
		</selectKey>
		INSERT INTO YAGL_YAFJXZ(id,yaid,dir,relname,extension,enabled,remark,czyid,czyxm,jlzt,cszt,sjc,bz,jgid,sjbb,cjsj,ywxtbsid,vercol,tbjdh,tbsjc,byzda,byzdb,byzdc,byzdd,pkid)
		VALUES(#{id,jdbcType=VARCHAR},#{yaid,jdbcType=VARCHAR},#{dir,jdbcType=VARCHAR},#{relname,jdbcType=VARCHAR},#{extension,jdbcType=VARCHAR},#{enabled,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{czyid,jdbcType=VARCHAR},#{czyxm,jdbcType=VARCHAR},#{jlzt,jdbcType=DOUBLE},#{cszt,jdbcType=DOUBLE},#{sjc,jdbcType=DATE},#{bz,jdbcType=VARCHAR},#{jgid,jdbcType=VARCHAR},#{sjbb,jdbcType=DOUBLE},#{cjsj,jdbcType=DATE},#{ywxtbsid,jdbcType=VARCHAR},#{vercol,jdbcType=DATE},#{tbjdh,jdbcType=VARCHAR},#{tbsjc,jdbcType=DATE},#{byzda,jdbcType=VARCHAR},#{byzdb,jdbcType=VARCHAR},#{byzdc,jdbcType=VARCHAR},#{byzdd,jdbcType=VARCHAR},#{pkid,jdbcType=VARCHAR})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO YAGL_YAFJXZ(id,yaid,dir,relname,extension,enabled,remark,czyid,czyxm,jlzt,cszt,sjc,bz,jgid,sjbb,cjsj,ywxtbsid,vercol,tbjdh,tbsjc,byzda,byzdb,byzdc,byzdd,pkid)
		SELECT SYS_GUID() pkid, A.* 
		FROM ( 
		<foreach collection="list" item="item" index="index" separator="UNION ALL" >
		SELECT
			#{item.id,jdbcType=VARCHAR} id,#{item.yaid,jdbcType=VARCHAR} yaid,#{item.dir,jdbcType=VARCHAR} dir,#{item.relname,jdbcType=VARCHAR} relname,#{item.extension,jdbcType=VARCHAR} extension,#{item.enabled,jdbcType=VARCHAR} enabled,#{item.remark,jdbcType=VARCHAR} remark,#{item.czyid,jdbcType=VARCHAR} czyid,#{item.czyxm,jdbcType=VARCHAR} czyxm,#{item.jlzt,jdbcType=DOUBLE} jlzt,#{item.cszt,jdbcType=DOUBLE} cszt,#{item.sjc,jdbcType=DATE} sjc,#{item.bz,jdbcType=VARCHAR} bz,#{item.jgid,jdbcType=VARCHAR} jgid,#{item.sjbb,jdbcType=DOUBLE} sjbb,#{item.cjsj,jdbcType=DATE} cjsj,#{item.ywxtbsid,jdbcType=VARCHAR} ywxtbsid,#{item.vercol,jdbcType=DATE} vercol,#{item.tbjdh,jdbcType=VARCHAR} tbjdh,#{item.tbsjc,jdbcType=DATE} tbsjc,#{item.byzda,jdbcType=VARCHAR} byzda,#{item.byzdb,jdbcType=VARCHAR} byzdb,#{item.byzdc,jdbcType=VARCHAR} byzdc,#{item.byzdd,jdbcType=VARCHAR} byzdd,
		FROM DUAL
		</foreach>
		) A
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="String"> 
		UPDATE  YAGL_YAFJXZ t SET t.JLZT = '0'  WHERE 1=1   AND t.PKID = #{value} 
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="YafjxzVO"> 
		UPDATE   YAGL_YAFJXZ  
		<set>
			<if test="id != null">id=#{id},</if>
			<if test="yaid != null">yaid=#{yaid},</if>
			<if test="dir != null">dir=#{dir},</if>
			<if test="relname != null">relname=#{relname},</if>
			<if test="extension != null">extension=#{extension},</if>
			<if test="enabled != null">enabled=#{enabled},</if>
			<if test="remark != null">remark=#{remark},</if>
			<if test="czyid != null">czyid=#{czyid},</if>
			<if test="czyxm != null">czyxm=#{czyxm},</if>
			<if test="jlzt != null">jlzt='1',</if>
			<if test="cszt != null">cszt=#{cszt},</if>
			<if test="sjc != null">sjc=TO_DATE(#{sjc},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="bz != null">bz=#{bz},</if>
			<if test="jgid != null">jgid=#{jgid},</if>
			<if test="sjbb != null">sjbb=#{sjbb},</if>
			<if test="cjsj != null">cjsj=TO_DATE(#{cjsj},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="ywxtbsid != null">ywxtbsid=#{ywxtbsid},</if>
			<if test="vercol != null">vercol=TO_DATE(#{vercol},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="tbjdh != null">tbjdh=#{tbjdh},</if>
			<if test="tbsjc != null">tbsjc=TO_DATE(#{tbsjc},'yyyy-MM-dd HH24:mi:ss'),</if>
			<if test="byzda != null">byzda=#{byzda},</if>
			<if test="byzdb != null">byzdb=#{byzdb},</if>
			<if test="byzdc != null">byzdc=#{byzdc},</if>
			<if test="byzdd != null">byzdd=#{byzdd},</if>
			<if test="pkid != null">pkid=#{pkid}</if>
		</set>
		WHERE  PKID = #{pkid}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO YAGL_YAFJXZ(id,yaid,dir,relname,extension,enabled,remark,czyid,czyxm,jlzt,cszt,sjc,bz,jgid,sjbb,cjsj,ywxtbsid,vercol,tbjdh,tbsjc,byzda,byzdb,byzdc,byzdd,pkid)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			#{item.id,jdbcType=VARCHAR} id,#{item.yaid,jdbcType=VARCHAR} yaid,#{item.dir,jdbcType=VARCHAR} dir,#{item.relname,jdbcType=VARCHAR} relname,#{item.extension,jdbcType=VARCHAR} extension,#{item.enabled,jdbcType=VARCHAR} enabled,#{item.remark,jdbcType=VARCHAR} remark,#{item.czyid,jdbcType=VARCHAR} czyid,#{item.czyxm,jdbcType=VARCHAR} czyxm,#{item.jlzt,jdbcType=DOUBLE} jlzt,#{item.cszt,jdbcType=DOUBLE} cszt,#{item.sjc,jdbcType=DATE} sjc,#{item.bz,jdbcType=VARCHAR} bz,#{item.jgid,jdbcType=VARCHAR} jgid,#{item.sjbb,jdbcType=DOUBLE} sjbb,#{item.cjsj,jdbcType=DATE} cjsj,#{item.ywxtbsid,jdbcType=VARCHAR} ywxtbsid,#{item.vercol,jdbcType=DATE} vercol,#{item.tbjdh,jdbcType=VARCHAR} tbjdh,#{item.tbsjc,jdbcType=DATE} tbsjc,#{item.byzda,jdbcType=VARCHAR} byzda,#{item.byzdb,jdbcType=VARCHAR} byzdb,#{item.byzdc,jdbcType=VARCHAR} byzdc,#{item.byzdd,jdbcType=VARCHAR} byzdd,
		</foreach>
		ON DUPLICATE KEY UPDATE   
			id = VALUES(id),
			yaid = VALUES(yaid),
			dir = VALUES(dir),
			relname = VALUES(relname),
			extension = VALUES(extension),
			enabled = VALUES(enabled),
			remark = VALUES(remark),
			czyid = VALUES(czyid),
			czyxm = VALUES(czyxm),
			jlzt = VALUES(jlzt),
			cszt = VALUES(cszt),
			sjc = VALUES(sjc),
			bz = VALUES(bz),
			jgid = VALUES(jgid),
			sjbb = VALUES(sjbb),
			cjsj = VALUES(cjsj),
			ywxtbsid = VALUES(ywxtbsid),
			vercol = VALUES(vercol),
			tbjdh = VALUES(tbjdh),
			tbsjc = VALUES(tbsjc),
			byzda = VALUES(byzda),
			byzdb = VALUES(byzdb),
			byzdc = VALUES(byzdc),
			byzdd = VALUES(byzdd),
			pkid = VALUES(pkid)
	</update>

	<!--11.根据对象查询记录-->
	<select id="doFindByVO" parameterType="YafjxzVO"  resultType="YafjxzVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM YAGL_YAFJXZ t 
		WHERE t.JLZT = '1' 
		<include refid="SQL_CONDITION"/>
	</select>
	<delete id="doDeletcNotIn" parameterType="java.lang.String">
		DELETE FROM YAGL_YAFJXZ WHERE PKID NOT IN  #{oldYafjxzVOs}
	</delete>
</mapper>
